.section-padding{
    padding-top: 20px;
}
.padding-bottom-22{
    padding-bottom: 22px;
}

select{
    padding: 5px 10px;
    border-color: #e7e7e7;
}
.modal-dialog{
    @include medium{
        max-width: 1000px;
    }
    @include tab{
        max-width: 800px;
    }
    @include mobileLg{
        max-width: 680px;
    }
}
.addon-plus{
    padding: 8px 15px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    margin-left: 6px;
    cursor: pointer;
}

.label-bold{
    label{
        font-weight: $bold;
    }
}

.shade{
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: visible;
    z-index: -1;
    @extend .color-white-bg;
    &.active{
        z-index: 999;
    }
}
	 

/*=====  Modal  ======*/
.modal-container{
    overflow-y: auto;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    &.show{
        opacity: 1;
        visibility: visible;
        z-index: 1050;
    }
    .modal-dialog{
        @include large{
            max-width: 90%;
        }
    }
    .modal-content{
        .modal-header{
            h4{
                font-size: 16px;
                font-weight: $bold;
            }
        }
    }
}

/*=====  Table  ======*/

.table{
    border: 1px solid #e7e7e7;
    tr{
        td{
            padding: 16px;
            vertical-align: middle;
        }
    }
    thead{
        tr{
            th{
                border-bottom: 0;
            }
        }
    }
}

.custom-radio-wrap{
    .custom-radio + .custom-radio{
        margin-left: 15px
    }
}
/*=====  Custom radio and checkbox  ======*/
.custom-radio , .custom-checkbox{
    input{
        display: none;
    }
    label{
        display: inline-block !important;
    }
    input[type="radio"] + label , input[type="checkbox"] + label{
        display: flex;
		flex-flow: column;
		font-weight: $semi-bold;
		position: relative;
		padding-left: 30px;
		margin-bottom: 0;
        line-height: 1.1;
        &:after{
            position: absolute;
			left: 0;
			top: 0;
			width: 18px;
			height: 18px;
			border-radius: 4px;
			content: "";
			@extend .theme-default-bg;
        }
        &:before{
            position: absolute;
			font-size: 12px;
			left: 3px;
			top: 3px;
			font-weight: 500;
			font-family: "FontAwesome";
			content: "\f00c";
			display: block;
			opacity: 0;
			transition: all 0.3s ease 0s;
			z-index: 2;
			@extend .color-white;
        }
        span {
            display: block;
			font-weight: $medium;
			margin-top: 6px;
        }
    }
    input[type="radio"] , input[type="checkbox"]{
        &:checked + label{
            &:before {
                opacity: 1;
            }	
        }		
    }
		
}			
	
		

.custome-select{
    .nice-select{
        float: none ;
		width: 100%;
		border-color: #e7e7e7;
        border-radius: 12px;
        .list{
            width: 100%;
			border-radius: 12px;
        }
    }		
}
    
/*=====  Price Range ======*/

.sidebar-price{
    .price-range-wrapper{
        height: 20px;
		position: relative;
		border: 1px solid #e2e6fb;
		padding: 0 10px 0 16px;
		border-radius: 15px;
		background-color: #e7e7e7;
        #price-range{
            border: none ;
			height: 0;
            &:after {
                position: absolute;
				content: "";
				top: 7px;
				width: 100%;
				height: 5px;
				left: -3px;
				border-radius: 10px;
				@extend .theme-default-bg;
            }
            .ui-slider-range{
                position: absolute;
				height: 100%;
				top: 0;
				@extend .theme-default-bg;
            }
            .ui-slider-handle{
                position: absolute;
				width: 11px;
				height: 11px;
				border-radius: 50%;
				display: block;
				top: 4px;
				text-decoration: none;
				outline: none;
				cursor: pointer;
				border: 3px solid $theme-color--default;
            }
            
        }

    }
    .price-amount{
        font-size: 14px;
        font-weight: 400;
        color: #363f4d;
        line-height: 24px;
        padding: 0;
        background-color: transparent;
        border: none;
        -ms-flex-item-align: center;
        align-self: center ;
    }
    .filter-form{
        margin-top: 20px;
        input[type=text]{
            width: 65%;
            color: #8287a7;
        }
        button {
            -webkit-transition: .3s;
            transition: .3s;
            cursor: pointer;
        }
    }
}

.popula-item-list{
    padding: 0 30px;
}

.single-popular-item{
    border: 1px solid #e7e7e7;
    padding: 15px;
    margin-bottom: 30px;
    transition: .3s;
    &:hover{
        box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.12);
    }
    @include mobileSm{
        padding: 8px;
    }
    .item-logo{
        position: relative;
        img{
            width: 100%
        }
        .wish-btn{
            position: absolute;
            left: 15px;
            top: 15px;
        }

    }
    .item-name{
        font-size: 16px;
        font-weight: $bold;
        margin-top: 10px;
        @include mobileSm{
            font-size: 14px
        }
    }
}


.quantity-selection{
    label{
        margin-right: 12px;
        margin-bottom: 0;
        font-size: 16px;
        font-weight: $semi-bold;
        padding-top: 0;
    }
    .product-quantity{
        .shop--pro-qty{
            input{
                width: 25%;
                min-height: 34px;
                text-align: center;
                padding-right: 2px;
                margin: 0 10px;
                margin-left: 8px;
                border: 1px solid #dee2e6;
            }
        }
    }
}

.rating{
    li{
        display: inline-block;
        &.fill{
            a{
                @extend .theme-secondary;
                i{
                    &:before{
                        content: "\f005";
                    }
                }
            }
        }
        a{
            display: inline-block;
            i{
                width: 25px;
                &:not(:last-child){
                    margin-right: 6px;
                }
            }
            
        }
    }
} 