
/*=============================================
=            Default CSS            =
=============================================*/



*, *::after, *::before {
    box-sizing: border-box;
  }
  html, body {
      height: 100%;
  }
  body{

      line-height: $body-line-height;
      font-size: $body-font-size;
      font-style: normal;
      font-weight: $body-font-weight;
      visibility: visible;
      font-family: $openSans;
      color: $body-text-color;
      position: relative;
      background-color: $body-bg-color;

      &.no-overflow{
        overflow: hidden;
      }
  }

  h1, h2, h3, h4, h5, h6 {
      color: $heading-text-color;
      font-family: $heading-font-family-name;
      font-weight: $heading-font-weight;
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.23;
  }
  h1 {
    font-size: 56px;
  }
  h2 {
    font-size: 48px;
    @include medium{
      font-size: 36px;
    }
    @include tab{
      font-size: 36px;
    }
    @include mobileLg{
      font-size: 30px;
    }
  }
  h3 {
    font-size: 40px;
    @include medium{
      font-size: 32px;
    }
    @include tab{
      font-size: 28px;
    }
    @include mobileLg{
      font-size: 25px;
    }
  }
  h4 {
    font-size: 34px;
  }
  h5 {
    font-size: 24px;
  }
  h6 {
    font-size: 18px;
  }
  p:last-child {
      margin-bottom: 0;
  }
  a, button {
      color: inherit;
      display: inline-block;
      line-height: inherit;
      text-decoration: none;
      cursor: pointer;
  }
  *:focus {
      outline: none !important;
  }
  a:focus {
      color: inherit;
      outline: none;
      text-decoration: none;
  }
  a:hover {
      text-decoration: none;
      color: $theme-color--default;
  }
  button, input[type="submit"] {
      cursor: pointer;
  }
  ul {
      list-style: outside none none;
      margin: 0;
      padding: 0;
  }
  textarea{
    resize: none;
  }
    
  img{
    max-width: 100%;
    height: auto;
  }
    
  
  /*-- Tab Content & Pane Fix --*/


  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    padding-right: 15px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='black'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 95% 50%;

  }


  ::selection {
    color: $white;
    background-color: $theme-color--default;
}

/*=====  End of Default CSS  ======*/