
/*=============================================
=            spacing            =
=============================================*/

.section-space{
    
    &--inner{

        &--30{
            padding-top: 30px;
            padding-bottom: 30px;
        }
        
        &--r90{
            padding-top: 90px;
            padding-bottom: 90px;

            @media #{$tablet-device}{
                padding-top: 60px;
                padding-bottom: 60px;
            }

            @media #{$large-mobile}{
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }

        &--r120{
            padding-top: 120px;
            padding-bottom: 120px;

            @media #{$tablet-device}{
                padding-top: 80px;
                padding-bottom: 80px;
            }

            @media #{$large-mobile}{
                padding-top: 60px;
                padding-bottom: 60px;
            }
        }

        &--top{
            &--r120{
                padding-top: 120px;
    
                @media #{$tablet-device}{
                    padding-top: 80px;
                }
    
                @media #{$large-mobile}{
                    padding-top: 60px;
                }
            }
        }

        &--bottom{
            &--r120{
                padding-bottom: 120px;
    
                @media #{$tablet-device}{
                    padding-bottom: 80px;
                }
    
                @media #{$large-mobile}{
                    padding-bottom: 60px;
                }
            }
        }

    }

    &--bottom{
        &--15{
            margin-bottom: 15px;
        }

        &--20{
            margin-bottom: 20px;
        }

        &--30{
            margin-bottom: 30px;
        }

        &--r50{
            margin-bottom: 50px;
            @media #{$tablet-device}{
                margin-bottom: 40px;
            }
            @media #{$large-mobile}{
                margin-bottom: 30px;
            }
        }

        &--r60{
            margin-bottom: 60px;
            @media #{$tablet-device}{
                margin-bottom: 50px;
            }
            @media #{$large-mobile}{
                margin-bottom: 30px;
            }
        }

        

        &--r100{
            margin-bottom: 100px;
            @media #{$tablet-device}{
                margin-bottom: 80px;
            }
            @media #{$large-mobile}{
                margin-bottom: 60px;
            }
        }
    }
}

/*=====  End of spacing  ======*/