/*=============================================
=            CSS Index            =
=============================================

    -> Helper CSS
    -> Default styles
    -> Spacing
    -> Header
    -> Footer
    -> Sidebar
    -> Container
    -> Banner
    -> Product
    -> Category
    -> Toolbar
    -> Brand
    -> Seller
    -> Cart
    -> Account
    -> Shipping
    -> Location
    -> Modal
    -> Dashboard
    -> Order
    -> Profile
    -> Section Block
    -> Toast 
    -> Button
    -> Section title
    -> Breadcrumb
    -> Accordions
    -> Scroll top
    -> Cart Dropdown


/*=====  End of CSS Index  ======*/

/*=============================================
=            Helper CSS            =
=============================================*/

/* no gutters */

.no-gutters {
	margin-left: 0;
	margin-right: 0;
}

.no-gutters > .col,
.no-gutters > [class*="col-"] {
	padding-right: 0;
	padding-left: 0;
	margin: 0;
}

/*=====  End of Helper CSS  ======*/

/*=============================================
=            Default CSS            =
=============================================*/

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	line-height: 1.43;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	visibility: visible;
	font-family: "Open Sans", sans-serif;
	color: #333;
	position: relative;
	background-color: #F5F5F9;
}

body.no-overflow {
	overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #333333;
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 1.23;
}

h1 {
	font-size: 56px;
}

h2 {
	font-size: 48px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 34px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 18px;
}

p:last-child {
	margin-bottom: 0;
}

a,
button {
	color: inherit;
	display: inline-block;
	line-height: inherit;
	text-decoration: none;
	cursor: pointer;
}

*:focus {
	outline: none !important;
}

a:focus {
	color: inherit;
	outline: none;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
	color: #3ebed0;
}

button,
input[type="submit"] {
	cursor: pointer;
}

ul {
	list-style: outside none none;
	margin: 0;
	padding: 0;
}

textarea {
	resize: none;
}

img {
	max-width: 100%;
	height: auto;
}

/*-- Tab Content & Pane Fix --*/

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	padding-right: 15px;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' height='10px' width='15px'%3E%3Ctext x='0' y='10' fill='black'%3E%E2%96%BE%3C/text%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: 95% 50%;
}

::-moz-selection {
	color: #ffffff;
	background-color: #3ebed0;
}

::selection {
	color: #ffffff;
	background-color: #3ebed0;
}

/*=====  End of Default CSS  ======*/

/*=============================================
=            spacing            =
=============================================*/

.section-space--inner--30 {
	padding-top: 30px;
	padding-bottom: 30px;
}

.section-space--inner--r90 {
	padding-top: 90px;
	padding-bottom: 90px;
}

.section-space--inner--r120 {
	padding-top: 120px;
	padding-bottom: 120px;
}

.section-space--inner--top--r120 {
	padding-top: 120px;
}

.section-space--inner--bottom--r120 {
	padding-bottom: 120px;
}

.section-space--bottom--15 {
	margin-bottom: 15px;
}

.section-space--bottom--20 {
	margin-bottom: 20px;
}

.section-space--bottom--30 {
	margin-bottom: 30px;
}

.section-space--bottom--r50 {
	margin-bottom: 50px;
}

.section-space--bottom--r60 {
	margin-bottom: 60px;
}

.section-space--bottom--r100 {
	margin-bottom: 100px;
}

/*=====  End of spacing  ======*/

.theme-default,
.header-top-content .hotline .hotline-phone,
.header-menubar .main-menu ul > li.cart-option .cart-dropdown .cart-empty-text,
.header-menubar .mobile-actions ul > li.cart-option .cart-dropdown .cart-empty-text,
.header-menubar .main-menu ul > li a:hover,
.header-menubar .mobile-actions ul > li a:hover,
.header-menubar .main-menu ul > li a.has-submenu:hover:after,
.header-menubar .mobile-actions ul > li a.has-submenu:hover:after,
.header-menubar .main-menu ul > li > ul > li > a:hover,
.header-menubar .mobile-actions ul > li > ul > li > a:hover,
.offcanvas-menu .offcanvas-cancel:hover i,
.offcanvas-menu-inner .main-menu ul li a:hover,
.footer-weidget .footer-content .weidget-nav-menu ul li a:hover,
.review-form input[type=submit]:hover,
.user-comment-form input[type=submit]:hover,
.cart-list-form-inner .cart-list-table tbody tr.empty-text td p,
.cart-list-form-inner .cart-list-table tfoot tr td span i.info-sign,
.checkout-menu ul li a,
.checkout-menu ul li a.active .s-number,
.dashboard-sidebar .dashboard-menu a.active,
.breadcrumb-inner ul li.active a,
.cart-list .single-cart .product-info .price {
	color: #3ebed0;
}

.theme-default-bg,
.custom-radio input[type="radio"] + label:after,
.custom-radio input[type="checkbox"] + label:after,
.custom-checkbox input[type="radio"] + label:after,
.custom-checkbox input[type="checkbox"] + label:after,
.sidebar-price .price-range-wrapper #price-range:after,
.sidebar-price .price-range-wrapper #price-range .ui-slider-range,
.header-menubar .main-menu nav.user-loggedin ul li .search-form .search-form-inner button,
.header-menubar .mobile-actions nav.user-loggedin ul li .search-form .search-form-inner button,
.footer-weidget .footer-head:before,
.size-list li.active a,
.size-list li a:hover,
.hero-slider-container .owl-dots .owl-dot:after,
.product-action ul li:hover,
.bottom-pagination-wrap ul li.active,
.bottom-pagination-wrap ul li:hover,
.product-details .product-info .product-actions .product-buttons li:hover,
.product-details .sold .sold-text,
.product-info-tab-container .product-info-tab-menu ul li a.active,
.product-info-tab-container .product-info-tab-menu ul li a:hover,
.review-form input[type=submit],
.user-comment-form input[type=submit],
.login-form .account-form-title:after,
.registration-form .account-form-title:after,
.checkout-menu ul li a.active,
.checkout-menu ul li a .s-number {
	background-color: #3ebed0;
}

.theme-secondary,
.rating li.fill a,
.footer-copyright a,
.single-product .product-detail .product-rating ul li i,
.product-details .product-info .product-rating .rating i,
.product-review-wrapper .shop-single-product-review-list .review-detail .given-rating i,
.review-form-container .rating li i,
.site-btn:hover,
.wish-btn:hover {
	color: #dc5652;
}

.theme-secondary-bg,
.header-menubar .main-menu ul > li.cart-option a .cart-count,
.header-menubar .mobile-actions ul > li.cart-option a .cart-count,
.menu-trigger span,
.site-btn,
.backToTop {
	background-color: #dc5652;
}

.theme-heading,
.header-menubar .main-menu ul > li a.has-submenu-left:after,
.header-menubar .mobile-actions ul > li a.has-submenu-left:after,
.header-menubar .main-menu ul > li > ul > li > a,
.header-menubar .mobile-actions ul > li > ul > li > a {
	color: #333333;
}

.theme-heading-bg {
	background-color: #333333;
}

.color-white,
.custom-radio input[type="radio"] + label:before,
.custom-radio input[type="checkbox"] + label:before,
.custom-checkbox input[type="radio"] + label:before,
.custom-checkbox input[type="checkbox"] + label:before,
.header-menubar .main-menu nav.user-loggedin ul li .search-form .search-form-inner button,
.header-menubar .mobile-actions nav.user-loggedin ul li .search-form .search-form-inner button,
.size-list li.active a,
.size-list li a:hover,
.product-list .owl-nav button:hover,
.single-product .product-detail .product-badge .badge-text,
.product-badge .badge-text,
.product-action ul li:hover,
.product-action ul li a:hover,
.bottom-pagination-wrap ul li.active a,
.bottom-pagination-wrap ul li:hover a,
.product-details .product-info .product-actions .product-buttons li:hover,
.product-details .product-info .product-actions .product-buttons li a:hover i,
.product-details .sold .sold-text,
.product-info-tab-container .product-info-tab-menu ul li a.active,
.product-info-tab-container .product-info-tab-menu ul li a:hover,
.review-form input[type=submit],
.user-comment-form input[type=submit],
.checkout-menu ul li a.active,
.checkout-menu ul li a .s-number,
.shop-toast .toast-content,
.site-btn,
.site-btn:focus,
.backToTop a i {
	color: #ffffff;
}

.color-white-bg,
.shade,
.header-menubar,
.header-menubar .main-menu ul > li.cart-option .cart-dropdown,
.header-menubar .mobile-actions ul > li.cart-option .cart-dropdown,
.header-menubar .main-menu ul > li.account-option .account-menu,
.header-menubar .mobile-actions ul > li.account-option .account-menu,
.header-menubar .main-menu ul > li > ul,
.header-menubar .mobile-actions ul > li > ul,
.footer-container,
.footer-copyright,
.single-sidebar,
.hero-slider-container .owl-dots .owl-dot,
.single-product .product-hover-menu,
.product-action ul li,
.poduct-list-box,
.product-details,
.product-details .product-info .product-actions .product-buttons li,
.product-info-tab-container,
.review-form input[type=submit]:hover,
.user-comment-form input[type=submit]:hover,
.cart-list-form,
.account-item-container,
.login-form,
.registration-form,
.notification-form,
.checkout-wrapper .checkout-inner,
.checkout-menu ul li a.active .s-number,
.shipping-form,
.billing-form,
.payment-method,
.dashboard-sidebar .dashboard-menu,
.single-dashboard-content,
.order-info-inner,
.profile-details,
.section-block,
.site-btn:hover,
.site-btn.cancel-btn:hover,
.site-btn.return-btn:hover,
.breadcrumb-inner {
	background-color: #ffffff;
}

.theme-black,
.header-menubar .main-menu ul > li a,
.header-menubar .mobile-actions ul > li a,
.header-menubar .main-menu ul > li a.has-submenu:after,
.header-menubar .mobile-actions ul > li a.has-submenu:after,
.footer-weidget,
.footer-weidget .footer-head h4,
.footer-weidget .footer-content .weidget-nav-menu ul li a,
.footer-copyright {
	color: #000000;
}

.theme-black-bg {
	background-color: #000000;
}

.section-padding {
	padding-top: 20px;
}

.padding-bottom-22 {
	padding-bottom: 22px;
}

select {
	padding: 5px 10px;
	border-color: #e7e7e7;
}

.addon-plus {
	padding: 8px 15px;
	border: 1px solid #e7e7e7;
	border-radius: 5px;
	margin-left: 6px;
	cursor: pointer;
}

.label-bold label {
	font-weight: 700;
}

.shade {
	position: fixed;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: visible;
	z-index: -1;
}

.shade.active {
	z-index: 999;
}

/*=====  Modal  ======*/

.modal-container {
	overflow-y: auto;
	z-index: -1;
	opacity: 0;
	visibility: hidden;
}

.modal-container.show {
	opacity: 1;
	visibility: visible;
	z-index: 1050;
}

.modal-container .modal-content .modal-header h4 {
	font-size: 16px;
	font-weight: 700;
}

/*=====  Table  ======*/

.table {
	border: 1px solid #e7e7e7;
}

.table tr td {
	padding: 16px;
	vertical-align: middle;
}

.table thead tr th {
	border-bottom: 0;
}

.custom-radio-wrap .custom-radio + .custom-radio {
	margin-left: 15px;
}

/*=====  Custom radio and checkbox  ======*/

.custom-radio input,
.custom-checkbox input {
	display: none;
}

.custom-radio label,
.custom-checkbox label {
	display: inline-block !important;
}

.custom-radio input[type="radio"] + label,
.custom-radio input[type="checkbox"] + label,
.custom-checkbox input[type="radio"] + label,
.custom-checkbox input[type="checkbox"] + label {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	font-weight: 600;
	position: relative;
	padding-left: 30px;
	margin-bottom: 0;
	line-height: 1.1;
}

.custom-radio input[type="radio"] + label:after,
.custom-radio input[type="checkbox"] + label:after,
.custom-checkbox input[type="radio"] + label:after,
.custom-checkbox input[type="checkbox"] + label:after {
	position: absolute;
	left: 0;
	top: 0;
	width: 18px;
	height: 18px;
	border-radius: 4px;
	content: "";
}

.custom-radio input[type="radio"] + label:before,
.custom-radio input[type="checkbox"] + label:before,
.custom-checkbox input[type="radio"] + label:before,
.custom-checkbox input[type="checkbox"] + label:before {
	position: absolute;
	font-size: 12px;
	left: 3px;
	top: 3px;
	font-weight: 500;
	font-family: "FontAwesome";
	content: "\f00c";
	display: block;
	opacity: 0;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	z-index: 2;
}

.custom-radio input[type="radio"] + label span,
.custom-radio input[type="checkbox"] + label span,
.custom-checkbox input[type="radio"] + label span,
.custom-checkbox input[type="checkbox"] + label span {
	display: block;
	font-weight: 500;
	margin-top: 6px;
}

.custom-radio input[type="radio"]:checked + label:before,
.custom-radio input[type="checkbox"]:checked + label:before,
.custom-checkbox input[type="radio"]:checked + label:before,
.custom-checkbox input[type="checkbox"]:checked + label:before {
	opacity: 1;
}

.custome-select .nice-select {
	float: none;
	width: 100%;
	border-color: #e7e7e7;
	border-radius: 12px;
}

.custome-select .nice-select .list {
	width: 100%;
	border-radius: 12px;
}

/*=====  Price Range ======*/

.sidebar-price .price-range-wrapper {
	height: 20px;
	position: relative;
	border: 1px solid #e2e6fb;
	padding: 0 10px 0 16px;
	border-radius: 15px;
	background-color: #e7e7e7;
}

.sidebar-price .price-range-wrapper #price-range {
	border: none;
	height: 0;
}

.sidebar-price .price-range-wrapper #price-range:after {
	position: absolute;
	content: "";
	top: 7px;
	width: 100%;
	height: 5px;
	left: -3px;
	border-radius: 10px;
}

.sidebar-price .price-range-wrapper #price-range .ui-slider-range {
	position: absolute;
	height: 100%;
	top: 0;
}

.sidebar-price .price-range-wrapper #price-range .ui-slider-handle {
	position: absolute;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	display: block;
	top: 4px;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	border: 3px solid #3ebed0;
}

.sidebar-price .price-amount {
	font-size: 14px;
	font-weight: 400;
	color: #363f4d;
	line-height: 24px;
	padding: 0;
	background-color: transparent;
	border: none;
	-ms-flex-item-align: center;
	-webkit-align-self: center;
	align-self: center;
}

.sidebar-price .filter-form {
	margin-top: 20px;
}

.sidebar-price .filter-form input[type=text] {
	width: 65%;
	color: #8287a7;
}

.sidebar-price .filter-form button {
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	cursor: pointer;
}

.popula-item-list {
	padding: 0 30px;
}

.single-popular-item {
	border: 1px solid #e7e7e7;
	padding: 15px;
	margin-bottom: 30px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.single-popular-item:hover {
	-webkit-box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.12);
}

.single-popular-item .item-logo {
	position: relative;
}

.single-popular-item .item-logo img {
	width: 100%;
}

.single-popular-item .item-logo .wish-btn {
	position: absolute;
	left: 15px;
	top: 15px;
}

.single-popular-item .item-name {
	font-size: 16px;
	font-weight: 700;
	margin-top: 10px;
}

.quantity-selection label {
	margin-right: 12px;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 600;
	padding-top: 0;
}

.quantity-selection .product-quantity .shop--pro-qty input {
	width: 25%;
	min-height: 34px;
	text-align: center;
	padding-right: 2px;
	margin: 0 10px;
	margin-left: 8px;
	border: 1px solid #dee2e6;
}

.rating li {
	display: inline-block;
}

.rating li.fill a i:before {
	content: "\f005";
}

.rating li a {
	display: inline-block;
}

.rating li a i {
	width: 25px;
}

.rating li a i:not(:last-child) {
	margin-right: 6px;
}

/*=============================================
=            Header            =
=============================================*/

.user-actions-wrap.user-loggedin .user-actions .account-option .logout-view {
	display: none;
}

.user-actions-wrap.user-loggedin .user-actions .account-option .login-view {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.user-actions-wrap .user-actions .account-option .logout-view {
	display: block;
}

.user-actions-wrap .user-actions .account-option .login-view {
	display: none;
}

/*=====  Header Top  ======*/

.header-top-content {
	border-bottom: 1px solid #dee2e6;
	padding: 15px 0;
}

.header-top-content .hotline {
	font-size: 14px;
}

.header-top-content .hotline i {
	margin-right: 4px;
}

.header-top-content .hotline .hotline-phone {
	margin-left: 5px;
	font-weight: 600;
}

.header-top-content .top-menu ul li {
	display: inline-block;
}

.header-top-content .top-menu ul li:not(:last-child) {
	margin-right: 15px;
}

/*=====  Header Middle  ======*/

.header-middle {
	padding: 15px 0;
}

.main-header.sticky .header-menubar {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 998;
}

/*=====  Header Menubar  ======*/

.header-menubar {
	-webkit-box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.1);
}

.header-menubar .main-menu-inner .user-actions {
	visibility: hidden;
	opacity: 0;
}

.header-menubar .mobile-menu {
	display: none;
}

.header-menubar .main-menu nav.user-loggedin ul li.account-option .logout-view,
.header-menubar .mobile-actions nav.user-loggedin ul li.account-option .logout-view {
	display: none;
}

.header-menubar .main-menu nav.user-loggedin ul li.account-option .login-view,
.header-menubar .mobile-actions nav.user-loggedin ul li.account-option .login-view {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.header-menubar .main-menu nav.user-loggedin ul li .search-form,
.header-menubar .mobile-actions nav.user-loggedin ul li .search-form {
	position: absolute;
	top: 58px;
	width: 400px;
	right: 0;
	z-index: 998;
	display: none;
}

.header-menubar .main-menu nav.user-loggedin ul li .search-form .search-form-inner,
.header-menubar .mobile-actions nav.user-loggedin ul li .search-form .search-form-inner {
	border: 1px solid #e7e7e7;
	height: 35px;
}

.header-menubar .main-menu nav.user-loggedin ul li .search-form .search-form-inner input,
.header-menubar .mobile-actions nav.user-loggedin ul li .search-form .search-form-inner input {
	width: 100%;
	border: 0;
	padding: 0px 15px;
	height: 100%;
}

.header-menubar .main-menu nav.user-loggedin ul li .search-form .search-form-inner button,
.header-menubar .mobile-actions nav.user-loggedin ul li .search-form .search-form-inner button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 25px;
	border: 0;
	height: 35px;
}

.header-menubar .main-menu ul > li,
.header-menubar .mobile-actions ul > li {
	position: relative;
}

.header-menubar .main-menu ul > li.cart-option.cart-empty .cart-dropdown .site-btn,
.header-menubar .mobile-actions ul > li.cart-option.cart-empty .cart-dropdown .site-btn {
	display: none;
}

.header-menubar .main-menu ul > li.cart-option.cart-empty .cart-dropdown .cart-empty-text,
.header-menubar .mobile-actions ul > li.cart-option.cart-empty .cart-dropdown .cart-empty-text {
	display: block;
}

.header-menubar .main-menu ul > li.cart-option.cart-empty a .cart-count,
.header-menubar .mobile-actions ul > li.cart-option.cart-empty a .cart-count {
	display: none;
}

.header-menubar .main-menu ul > li.cart-option a i,
.header-menubar .mobile-actions ul > li.cart-option a i {
	font-size: 18px;
}

.header-menubar .main-menu ul > li.cart-option a .cart-count,
.header-menubar .mobile-actions ul > li.cart-option a .cart-count {
	display: inline-block;
	position: absolute;
	top: 8px;
	left: 32px;
	padding: 0px 4px;
	font-size: 14px;
	line-height: 1.2;
	border-radius: 50%;
	color: #fff;
}

.header-menubar .main-menu ul > li.cart-option:hover .cart-dropdown,
.header-menubar .mobile-actions ul > li.cart-option:hover .cart-dropdown {
	padding: 15px;
	z-index: 2;
	opacity: 1;
	visibility: visible;
}

.header-menubar .main-menu ul > li.cart-option .cart-dropdown,
.header-menubar .mobile-actions ul > li.cart-option .cart-dropdown {
	text-align: center;
	position: absolute;
	padding: 0 15px;
	right: 0;
	top: 50px;
	min-width: 270px;
	z-index: -1;
	-webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
	overflow: hidden;
}

.header-menubar .main-menu ul > li.cart-option .cart-dropdown .site-btn,
.header-menubar .mobile-actions ul > li.cart-option .cart-dropdown .site-btn {
	display: block;
	margin-top: 15px;
	padding: 6px 14px !important;
	color: #fff !important;
}

.header-menubar .main-menu ul > li.cart-option .cart-dropdown .site-btn:hover,
.header-menubar .mobile-actions ul > li.cart-option .cart-dropdown .site-btn:hover {
	color: #dc5652 !important;
}

.header-menubar .main-menu ul > li.cart-option .cart-dropdown.cart-empty .site-btn,
.header-menubar .mobile-actions ul > li.cart-option .cart-dropdown.cart-empty .site-btn {
	display: none;
}

.header-menubar .main-menu ul > li.cart-option .cart-dropdown.cart-empty .cart-empty-text,
.header-menubar .mobile-actions ul > li.cart-option .cart-dropdown.cart-empty .cart-empty-text {
	display: block;
}

.header-menubar .main-menu ul > li.cart-option .cart-dropdown .cart-empty-text,
.header-menubar .mobile-actions ul > li.cart-option .cart-dropdown .cart-empty-text {
	display: none;
	text-align: center;
}

.header-menubar .main-menu ul > li.cart-option .cart-dropdown ul li .single-cart .product-img a img,
.header-menubar .mobile-actions ul > li.cart-option .cart-dropdown ul li .single-cart .product-img a img {
	max-width: 42px;
}

.header-menubar .main-menu ul > li.account-option,
.header-menubar .mobile-actions ul > li.account-option {
	text-align: center;
}

.header-menubar .main-menu ul > li.account-option .login-view,
.header-menubar .mobile-actions ul > li.account-option .login-view {
	position: relative;
	cursor: pointer;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
	padding: 4px 0;
}

.header-menubar .main-menu ul > li.account-option .login-view:hover .account-menu,
.header-menubar .mobile-actions ul > li.account-option .login-view:hover .account-menu {
	padding: 10px;
	opacity: 1;
	visibility: visible;
}

.header-menubar .main-menu ul > li.account-option .login-view figure,
.header-menubar .mobile-actions ul > li.account-option .login-view figure {
	margin-bottom: 0px;
}

.header-menubar .main-menu ul > li.account-option .login-view figure img,
.header-menubar .mobile-actions ul > li.account-option .login-view figure img {
	max-width: 35px;
	border-radius: 50%;
}

.header-menubar .main-menu ul > li.account-option .login-view .pro-name,
.header-menubar .mobile-actions ul > li.account-option .login-view .pro-name {
	margin-left: 10px;
}

.header-menubar .main-menu ul > li.account-option i,
.header-menubar .mobile-actions ul > li.account-option i {
	margin-right: 4px;
	font-size: 14px;
}

.header-menubar .main-menu ul > li.account-option span + span,
.header-menubar .mobile-actions ul > li.account-option span + span {
	display: block;
	line-height: .6;
}

.header-menubar .main-menu ul > li.account-option .account-menu,
.header-menubar .mobile-actions ul > li.account-option .account-menu {
	position: absolute;
	padding: 0 10px;
	top: 45px;
	right: 0;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	min-width: 250px;
	-webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09);
	-webkit-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}

.header-menubar .main-menu ul > li.account-option .account-menu ul li,
.header-menubar .mobile-actions ul > li.account-option .account-menu ul li {
	display: block;
	text-align: left;
	padding: 10px;
}

.header-menubar .main-menu ul > li.account-option .account-menu ul li:first-child,
.header-menubar .mobile-actions ul > li.account-option .account-menu ul li:first-child {
	margin-bottom: 0px;
}

.header-menubar .main-menu ul > li.account-option .account-menu ul li:not(:last-child),
.header-menubar .mobile-actions ul > li.account-option .account-menu ul li:not(:last-child) {
	margin-right: 0;
	border-bottom: 1px solid #e7e7e7;
}

.header-menubar .main-menu ul > li.account-option .account-menu ul li a,
.header-menubar .mobile-actions ul > li.account-option .account-menu ul li a {
	padding: 0;
}

.header-menubar .main-menu ul > li.account-option .account-menu ul li a i,
.header-menubar .mobile-actions ul > li.account-option .account-menu ul li a i {
	font-size: 12px;
	margin-right: 8px;
}

.header-menubar .main-menu ul > li a,
.header-menubar .mobile-actions ul > li a {
	font-size: 16px;
	position: relative;
	padding: 15px 20px;
	font-weight: 600;
}

.header-menubar .main-menu ul > li a img,
.header-menubar .mobile-actions ul > li a img {
	max-width: 130px;
}

.header-menubar .main-menu ul > li a.has-submenu:after,
.header-menubar .mobile-actions ul > li a.has-submenu:after {
	position: absolute;
	right: 4px;
	top: 50%;
	margin-top: -11px;
	content: "\f107";
	font-family: 'fontAwesome';
}

.header-menubar .main-menu ul > li a.has-submenu-left:after,
.header-menubar .mobile-actions ul > li a.has-submenu-left:after {
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -10px;
	content: "\f105";
	font-family: 'fontAwesome';
}

.header-menubar .main-menu ul > li a:hover,
.header-menubar .mobile-actions ul > li a:hover {
	opacity: .8;
}

.header-menubar .main-menu ul > li:hover > ul,
.header-menubar .mobile-actions ul > li:hover > ul {
	opacity: 1;
	visibility: visible;
	-webkit-transform: perspective(600px) rotateX(0deg);
	transform: perspective(600px) rotateX(0deg);
}

.header-menubar .main-menu ul > li > ul,
.header-menubar .mobile-actions ul > li > ul {
	min-width: 180px;
	position: absolute;
	padding: 20px 0;
	top: 50px;
	left: 0;
	-webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09);
	-webkit-transform: perspective(600px) rotateX(-90deg);
	transform: perspective(600px) rotateX(-90deg);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	opacity: 0;
	visibility: hidden;
	z-index: 2;
}

.header-menubar .main-menu ul > li > ul > li,
.header-menubar .mobile-actions ul > li > ul > li {
	display: block;
}

.header-menubar .main-menu ul > li > ul > li:not(:last-child),
.header-menubar .mobile-actions ul > li > ul > li:not(:last-child) {
	margin-bottom: 15px;
}

.header-menubar .main-menu ul > li > ul > li > a,
.header-menubar .mobile-actions ul > li > ul > li > a {
	font-size: 16px;
	padding: 0 20px;
	font-weight: 600;
	display: inherit;
}

.header-menubar .main-menu ul > li > ul ul,
.header-menubar .mobile-actions ul > li > ul ul {
	left: 100%;
	top: 0px;
}

.header-menubar .main-menu ul > li.mega-item,
.header-menubar .mobile-actions ul > li.mega-item {
	position: static;
}

.header-menubar .main-menu ul > li.mega-item:hover .mega-menu-wrapper,
.header-menubar .mobile-actions ul > li.mega-item:hover .mega-menu-wrapper {
	-webkit-transform: perspective(600px) rotateX(0deg);
	transform: perspective(600px) rotateX(0deg);
	z-index: 99;
}

.header-menubar .mobile-action-list li:not(:last-child) {
	margin-right: 20px;
}

.header-menubar .mobile-action-list li a {
	padding: 0 !important;
}

.header-menubar .mobile-action-list li.account-option .login-view .pro-name {
	display: none;
}

.menu-trigger {
	display: block;
	cursor: pointer;
	-webkit-box-ordinal-group: 3;
	-webkit-order: 2;
	-ms-flex-order: 2;
	order: 2;
}

.menu-trigger span {
	width: 25px;
	height: 2px;
	display: block;
}

.menu-trigger span:not(:last-child) {
	margin-bottom: 6px;
}

.menu-trigger:hover span:nth-child(2) {
	width: 25px;
}

.offcanvas-menu {
	position: fixed;
	z-index: 999;
	background-color: #fff;
	-webkit-box-shadow: 0 21px 81px rgba(0, 0, 0, 0.1);
	box-shadow: 0 21px 81px rgba(0, 0, 0, 0.1);
	z-index: -1;
	height: 100%;
	width: 320px;
	top: 0;
	left: -100%;
	opacity: 0;
	overflow: auto;
	-webkit-transition: .7s;
	-o-transition: .7s;
	transition: .7s;
}

.offcanvas-menu .offcanvas-cancel {
	position: absolute;
	right: 30px;
	top: 30px;
	cursor: pointer;
	z-index: 999;
	padding: 6px;
}

.offcanvas-menu-inner {
	position: relative;
}

.offcanvas-menu-inner .main-menu {
	padding-top: 80px;
}

.offcanvas-menu-inner .main-menu ul {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-pack: start !important;
	-webkit-justify-content: start !important;
	-ms-flex-pack: start !important;
	justify-content: start !important;
	-webkit-box-align: start !important;
	-webkit-align-items: flex-start !important;
	-ms-flex-align: start !important;
	align-items: flex-start !important;
}

.offcanvas-menu-inner .main-menu ul li {
	display: block;
	margin-bottom: 0;
	padding: 0px;
	border-bottom: 1px solid #e7e7e7;
	position: relative;
	width: 100%;
}

.offcanvas-menu-inner .main-menu ul li.has-sub-menu .submenu-button {
	position: absolute;
	right: 0;
	height: 25px;
	width: 25px;
	top: 13.5px;
	cursor: pointer;
}

.offcanvas-menu-inner .main-menu ul li.has-sub-menu .submenu-button:after {
	position: absolute;
	right: 30px;
	top: 0;
	display: block;
	font-family: "FontAwesome";
	content: "\f107";
}

.offcanvas-menu-inner .main-menu ul li.has-sub-menu .submenu-button.sub-menu-oppened:after {
	content: "\f106";
}

.offcanvas-menu-inner .main-menu ul li:first-child {
	border-top: 1px solid #e7e7e7;
}

.offcanvas-menu-inner .main-menu ul li:last-child {
	margin-bottom: 0;
}

.offcanvas-menu-inner .main-menu ul li a {
	display: inline-block;
	font-size: 16px;
	font-weight: 600;
	padding: 15px;
	width: 100%;
	color: #000000;
}

.offcanvas-menu-inner .main-menu ul li a img {
	max-width: 100px;
}

.offcanvas-menu-inner .main-menu ul li a:after {
	display: none;
}

.offcanvas-menu-inner .main-menu ul li > ul {
	display: none;
	padding: 0;
	position: static;
	opacity: 1;
	visibility: visible;
	-webkit-box-shadow: 0 0;
	box-shadow: 0 0;
}

.offcanvas-menu-inner .main-menu ul li > ul li a {
	margin: 0;
	padding: 10px 0;
}

.offcanvas-menu-inner .main-menu ul li > ul li a:after {
	bottom: 20px;
	width: 100%;
}

.offcanvas-menu-inner .main-menu ul li ul {
	padding-left: 20px;
	width: 100%;
}

.offcanvas-menu-inner .main-menu ul li ul li.has-sub-menu .submenu-button {
	position: absolute;
	right: 0;
	height: 25px;
	width: 25px;
	top: 8.5px;
	cursor: pointer;
}

.offcanvas-menu-inner .main-menu ul li ul li.has-sub-menu .submenu-button:after {
	position: absolute;
	right: 30px;
	top: 0;
	display: block;
	font-family: "FontAwesome";
	content: "\f107";
}

.offcanvas-menu-inner .main-menu ul li ul li.has-sub-menu .submenu-button.sub-menu-oppened:after {
	content: "\f106";
}

.offcanvas-menu.show {
	opacity: 1;
	width: 300px;
	height: 100%;
	z-index: 999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.mobile-menu .mean-bar .mean-nav {
	background-color: #ffffff;
	position: relative;
	top: 15px;
	z-index: 999999;
	-webkit-box-shadow: 0 2px 7px #e6ebee;
	box-shadow: 0 2px 7px #e6ebee;
}

.mobile-menu .mean-bar .mean-nav > ul {
	margin-bottom: 30px;
	border: 1px solid #eeeeee;
	border-top: 0px solid transparent;
	overflow-x: hidden;
}

.mobile-menu .mean-bar .mean-nav > ul li {
	position: relative;
	display: block;
	float: left;
	width: 100%;
}

.mobile-menu .mean-bar .mean-nav > ul li a {
	font-size: 13px;
	display: block;
	color: #444444;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 44px;
	position: relative;
	border-top: 1px solid #eeeeee;
	padding: 0 40px 0 20px;
}

.mobile-menu .mean-bar .mean-nav > ul li a.mean-expand {
	border: 1px solid #eeeeee;
	position: absolute;
	right: -1px;
	top: -12px;
	font-size: 20px !important;
	color: #444444;
	line-height: 44px;
	height: 46px;
	width: 40px;
	text-align: center;
	padding: 0;
}

.mobile-menu .mean-bar .mean-nav > ul li.row {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-left: 0;
}

.mobile-menu .mean-bar .mean-nav > ul li.row .col-lg-4 {
	padding-right: 0;
	padding-left: 0;
}

/*=====  End of Header  ======*/

/*=============================================
=            footer            =
=============================================*/

/*  8.1: Footer Container */

.footer-container {
	padding: 30px 0;
}

/*  8.2: Footer Weidget */

.footer-weidget .footer-head {
	margin-bottom: 22px;
	padding-bottom: 15px;
	position: relative;
}

.footer-weidget .footer-head h4 {
	font-size: 16px;
	font-weight: 700;
}

.footer-weidget .footer-head:after,
.footer-weidget .footer-head:before {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 100%;
	content: "";
}

.footer-weidget .footer-head:after {
	background-color: #e7e7e7;
}

.footer-weidget .footer-head:before {
	bottom: -1px;
	width: 40px;
	height: 4px;
	z-index: 2;
}

.footer-weidget .footer-content .weidget-nav-menu ul li:not(:last-child) {
	margin-bottom: 10px;
}

.footer-weidget .footer-content .weidget-nav-menu ul li a {
	font-size: 14px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

/*  8.3: Footer Copyright */

.footer-copyright {
	padding: 20px 0;
	border-top: 1px solid #e7e7e7;
}

.footer-copyright a {
	font-weight: 600;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

/*=====  End of footer ======*/

/*=============================================
=            Sidebar            =
=============================================*/

/*=====  Single Sidebar  ======*/

.single-sidebar {
	padding: 16px;
}

.single-sidebar select {
	width: 100%;
}

.single-sidebar:not(:last-child) {
	margin-bottom: 20px;
}

.single-sidebar.colo-block,
.single-sidebar.size-block {
	padding-bottom: 22px;
}

.single-sidebar .sidebar-head {
	font-size: 16px;
	font-weight: 700;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.single-sidebar .item-filter li:not(:last-child) {
	margin-bottom: 10px;
}

.color-list li {
	display: inline-block;
	margin-bottom: 8px;
}

.color-list li:not(:last-child) {
	margin-right: 15px;
}

.color-list li.active a {
	position: relative;
}

.color-list li.active a:after {
	position: absolute;
	font-family: "fontAwesome";
	content: "\f00c";
	color: #fff;
	left: 4px;
	top: 2px;
	font-size: 12px;
}

.color-list li a.color-option {
	display: block;
	height: 20px;
	width: 20px;
}

.color-list li a.color-option.color-red {
	background-color: #FE3234;
}

.color-list li a.color-option.color-yellow {
	background-color: #FFF000;
}

.color-list li a.color-option.color-deep-yellow {
	background-color: #FFC000;
}

.color-list li a.color-option.color-orange {
	background-color: #FF7353;
}

.color-list li a.color-option.color-green {
	background-color: #0DE545;
}

.color-list li a.color-option.color-sky {
	background-color: #00D2FF;
}

.color-list li a.color-option.color-blue {
	background-color: #0012FF;
}

.size-list li {
	display: inline-block;
	margin-bottom: 8px;
}

.size-list li:not(:last-child) {
	margin-right: 15px;
}

.size-list li a {
	display: block;
	padding: 4px 8px;
	border: 1px solid #eaeaea;
}

/*=====  End of Sidebar  ======*/

/*=============================================
=            container            =
=============================================*/

/*=====  End of container  ======*/

/*=============================================
=            Banner            =
=============================================*/

.hero-area {
	margin-top: 20px;
}

/*=====  Single slider  ======*/

.single-slider {
	background-size: cover !important;
	width: 100%;
	height: 55vh;
}

.feature-image .single-feature-image:not(:last-child) {
	margin-bottom: 15px;
}

/*=====  slider Nav  ======*/

.hero-slider-container {
	position: relative;
}

.hero-slider-container:hover .owl-nav button {
	opacity: 1;
	visibility: visible;
}

.hero-slider-container:hover .owl-nav button.owl-prev {
	right: 20px;
}

.hero-slider-container:hover .owl-nav button.owl-next {
	left: 20px;
}

.hero-slider-container .owl-nav button {
	opacity: 0;
	visibility: hidden;
}

.hero-slider-container .owl-nav button i {
	font-size: 18px;
}

.hero-slider-container .owl-nav button.owl-prev {
	position: absolute;
	right: 40px;
	top: 50%;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.hero-slider-container .owl-nav button.owl-next {
	position: absolute;
	left: 40px;
	top: 50%;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.hero-slider-container .owl-dots {
	position: absolute;
	left: 50%;
	bottom: 30px;
	margin-left: -20px;
}

.hero-slider-container .owl-dots button + button {
	margin-left: 10px;
}

.hero-slider-container .owl-dots .owl-dot {
	height: 16px;
	position: relative;
	width: 16px;
	border-radius: 50%;
	border: 1px solid #3ebed0;
}

.hero-slider-container .owl-dots .owl-dot:after {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 8px;
	height: 8px;
	margin-left: -4px;
	margin-top: -4px;
	border-radius: 50%;
	opacity: 0;
	visibility: hidden;
	content: "";
}

.hero-slider-container .owl-dots .owl-dot.active:after {
	opacity: 1;
	visibility: visible;
}

/*=============================================
=            Product            =
=============================================*/

.related-product-area {
	margin-bottom: 20px;
}

.sold-product-area {
	margin-bottom: 20px;
}

.product-list {
	padding: 0 20px;
}

.product-list .owl-stage-outer {
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: -15px;
	padding-top: 15px;
}

.product-list .owl-item.active.lastActiveItem .single-product:hover .product-hover-menu {
	right: auto;
	left: -40px;
}

.product-list .owl-item.active.lastActiveItem .single-product:hover .product-detail .product-badge {
	right: 15px;
}

.product-list .owl-item.active.lastActiveItem .single-product:hover .product-detail .wish-btn {
	left: 25px;
}

.product-list .owl-item.active.lastActiveItem .single-product .product-hover-menu {
	border-right: 1px solid #e7e7e7;
	border-left: 0;
	right: auto;
	left: -20px;
}

.product-list .owl-item.active.lastActiveItem .single-product .product-detail .wish-btn {
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.product-list .owl-item.active.lastActiveItem .single-product .product-action {
	right: 0px;
	left: auto;
}

.product-list .owl-item.active.lastActiveItem .single-product .product-action ul li a {
	padding: 5px 12px;
}

.product-list .owl-nav button {
	background-color: #dee2e6 !important;
}

.product-list .owl-nav button:hover {
	background-color: #dc5652 !important;
}

.product-list .owl-nav button i {
	font-size: 18px;
	padding-top: 2px;
}

.product-list .owl-nav button.owl-prev {
	position: absolute;
	right: 20px !important;
	top: -50px !important;
	padding: 2px 8px !important;
	margin-top: -8px;
}

.product-list .owl-nav button.owl-next {
	position: absolute;
	right: 50px !important;
	top: -50px !important;
	padding: 2px 8px !important;
	margin-top: -8px;
}

/*=====  Single product  ======*/

.single-product {
	position: relative;
	margin-bottom: 20px;
	padding-top: 10px;
}

.single-product:hover {
	-webkit-box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.1);
}

.single-product:hover .product-hover-menu {
	opacity: 1;
	visibility: visible;
	right: -10px;
}

.single-product:hover .product-detail .product-badge {
	right: 55px;
}

.single-product:hover .product-detail .product-action {
	opacity: 1;
	visibility: visible;
	bottom: 38%;
}

.single-product:hover .product-detail .product-bottom {
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
}

.single-product .product-detail {
	position: relative;
}

.single-product .product-detail .wish-btn {
	position: absolute;
	left: 15px;
	top: 10px;
}

.single-product .product-detail .product-badge {
	background-color: #28a745;
	position: absolute;
	right: 15px;
	top: 10px;
	width: auto;
	padding: 0px 8px;
	padding-bottom: 1px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.single-product .product-detail .product-badge .badge-text {
	font-size: 14px;
}

.single-product .product-detail .product-title {
	font-size: 16px;
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 10px;
}

.single-product .product-detail .product-rating {
	margin-top: 4px;
}

.single-product .product-detail .product-rating ul li {
	display: inline-block;
}

.single-product .product-detail .product-rating ul li:not(:last-child) {
	margin-right: 4px;
}

.single-product .product-detail .product-rating ul li i {
	font-size: 13px;
}

.single-product .product-detail .product-img {
	text-align: center;
}

.single-product .product-detail .product-img img {
	max-width: 180px;
}

.single-product .product-detail .product-bottom {
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
	margin-right: 45px;
}

.single-product .product-hover-menu {
	-webkit-box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.1);
	position: absolute;
	height: 100%;
	border-left: 1px solid #e7e7e7;
	right: -20px;
	top: 0px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .4s;
	-o-transition: .4s;
	transition: .4s;
	min-height: 258px;
	z-index: 222;
}

.single-product .product-hover-menu li {
	display: block;
	cursor: pointer;
}

.single-product .product-hover-menu li:not(:last-child) {
	margin-bottom: 10px;
}

.single-product .product-hover-menu li img {
	max-width: 50px;
}

.product-badge {
	background-color: #28a745;
	position: absolute;
	right: 15px;
	top: 10px;
	width: auto;
	padding: 0px 8px;
	padding-bottom: 1px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.product-badge .badge-text {
	font-size: 14px;
}

.product-price span {
	font-size: 14px;
	font-weight: 600;
}

.product-price span.old-price {
	margin-right: 8px;
	opacity: .6;
	text-decoration: line-through;
}

.product-action {
	position: absolute;
	left: 0;
	margin: 0 auto;
	bottom: 25%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}

.product-action ul {
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
}

.product-action ul li {
	cursor: pointer;
	-webkit-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
	text-align: center;
}

.product-action ul li:not(:last-child) {
	border-right: 1px solid #e7e7e7;
}

.product-action ul li:last-child {
	border-right: 0px;
}

.product-action ul li:first-child {
	border-left: 0px;
}

.product-action ul li a {
	padding: 5px 7px;
	font-size: 14px;
}

.poduct-list-box {
	padding: 16px;
}

.poduct-list-box .top-toolbar-wrap .top-toolbar-action .sort-product {
	-webkit-flex-basis: 30%;
	-ms-flex-preferred-size: 30%;
	flex-basis: 30%;
}

.product-list-content .product-box.column-self [class*="col"],
.product-list-content .product-box.column-self [class*="col-"] {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 33.33%;
	-ms-flex: 0 0 33.33%;
	flex: 0 0 33.33%;
	width: 33.33%;
	max-width: 33.33%;
}

.product-list-content .product-box.column-self .single-list-product {
	display: none !important;
}

.product-list-content .product-box.column-self .single-product {
	display: block;
}

.product-list-content .product-box.column-self .single-product .product-action ul li a {
	padding: 5px 6px;
}

.product-list-content .product-box.poduct-list [class*="col"],
.product-list-content .product-box.poduct-list [class*="col-"] {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.product-list-content .product-box.poduct-list .single-list-product {
	display: block;
}

.product-list-content .product-box.poduct-list .single-product {
	display: none !important;
}

.product-list-inner {
	margin: 20px 0;
}

/*=====  Single List Product  ======*/

.single-list-product {
	margin-bottom: 20px;
	padding: 0;
	margin-left: 20px;
	margin-bottom: 0;
}

.single-list-product .product-img {
	position: relative;
	border: 1px solid #dee2e6;
}

.single-list-product .product-img .wish-btn {
	position: absolute;
	left: 15px;
	top: 15px;
}

.single-list-product .product-title {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}

.single-list-product .product-price {
	margin-bottom: 10px;
	padding-bottom: 16px;
}

.single-list-product .product-rating {
	margin-bottom: 12px;
	margin-top: 4px;
}

.single-list-product .product-rating .rating {
	margin-right: 6px;
}

.single-list-product .desciption {
	padding-bottom: 15px;
	border-bottom: 1px solid #e7e7e7;
}

.single-list-product .user-option {
	opacity: 1;
	visibility: visible;
	position: relative;
	bottom: auto;
	border: 0;
}

.single-list-product .user-option li {
	display: inline-block;
}

.single-list-product .user-option li:not(:last-child) {
	margin-right: 8px;
	padding-right: 8px;
	border-right: 1px solid #e7e7e7;
}

.bottom-pagination-wrap ul li {
	display: inline-block;
	cursor: pointer;
	padding: 5px 10px;
	border: 1px solid #e7e7e7;
}

.bottom-pagination-wrap ul li:not(:last-child) {
	margin-right: 8px;
}

.bottom-pagination-wrap ul li a i.fa-angle-left {
	margin-right: 6px;
}

.bottom-pagination-wrap ul li a i.fa-angle-right {
	margin-left: 6px;
}

.popular-product-list .single-product .product-action ul li a {
	padding: 5px 57px;
}

/*=====  Product  Details ======*/

.product-details {
	padding: 20px;
	margin: 20px 0;
}

.product-details .product-large-image {
	text-align: center;
}

.product-details .product-large-image img {
	max-width: 330px;
	margin: 0 auto;
}

.product-details .product-image-menu .single-image-menu {
	padding-bottom: 5px;
}

.product-details .product-info .product-title {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 15px;
}

.product-details .product-info .product-rating {
	margin-bottom: 16px;
}

.product-details .product-info .product-rating .rating i:not(:last-child) {
	margin-right: 4px;
}

.product-details .product-info .product-rating .review-count a {
	padding: 0 5px;
}

.product-details .product-info .product-description {
	line-height: 1.75;
	margin-bottom: 22px;
}

.product-details .product-info .product-actions .product-buttons {
	margin-top: 30px;
}

.product-details .product-info .product-actions .product-buttons li {
	display: inline-block;
	padding: 5px 8px;
	border: 1px solid #dee2e6;
	cursor: pointer;
}

.product-details .product-info .product-actions .product-buttons li:not(:last-child) {
	margin-right: 10px;
}

.product-details .product-info .quantity-selection {
	margin-bottom: 20px;
}

.product-details .product-info .product-category {
	margin-top: 20px;
	margin-bottom: 20px;
}

.product-details .product-info .product-category ul li {
	display: inline-block;
}

.product-details .product-info .product-category ul li:not(:last-child) {
	margin-right: 4px;
}

.product-details .product-info .product-category ul li:first-child {
	font-weight: 700;
}

.product-details .brand-seller {
	margin-bottom: 16px;
}

.product-details .brand-seller span {
	font-weight: 600;
}

.product-details .brand-seller span a {
	font-weight: 500;
}

.product-details .brand-seller span + span {
	margin-left: 10px;
}

.product-details .product-price {
	padding-bottom: 22px;
	margin-bottom: 22px;
	border-bottom: 1px solid #e7e7e7;
}

.product-details .product-price p {
	display: inline-block;
}

.product-details .product-price p.new-price {
	margin-right: 10px;
}

.product-details .product-price .new-price {
	font-size: 20px;
	margin-bottom: 0;
	font-weight: 700;
	color: #f9c322;
}

.product-details .product-price .old-price .old-price-value {
	text-decoration: line-through;
	opacity: .6;
	margin-right: 8px;
}

.product-details .sold {
	margin-bottom: 20px;
}

.product-details .sold .sold-text {
	margin-left: 10px;
	padding: 4px 12px;
}

.product-details .product-actions .product-buttons {
	margin-top: 6px !important;
	margin-bottom: 20px;
}

.product-details .product-actions .quantity-selection label {
	padding-top: 2px;
	font-size: 14px;
	font-weight: 700;
}

.product-details .product-actions .quantity-poduct-btns .product-buttons {
	margin-right: 45px;
}

.product-details .product-actions .color-size-selection .color-list {
	margin-right: 30px;
}

.product-details .product-actions .color-list {
	margin-bottom: 20px;
}

.product-details .product-actions .color-list li {
	margin-bottom: 0 !important;
}

.product-details .product-actions .color-list li:first-child {
	font-weight: 700;
}

.product-details .product-actions .size-list {
	margin-bottom: 20px;
}

.product-details .product-actions .size-list li {
	margin-bottom: 0 !important;
}

.product-details .product-actions .size-list li:first-child {
	font-weight: 700;
}

.product-details .user-option .buy-btn {
	margin-right: 12px;
}

.signle-quickView-product .product-details {
	margin: 0px;
}

.product-info-tab-container {
	padding: 30px;
}

.product-info-tab-container .product-info-tab-menu {
	margin-bottom: 20px;
}

.product-info-tab-container .product-info-tab-menu ul.nav-tabs {
	border-bottom: 0px;
}

.product-info-tab-container .product-info-tab-menu ul li a {
	padding: 10px 15px;
	font-size: 16px;
	font-weight: 700;
	border: 1px solid #e7e7e7;
	-webkit-transition: .35s;
	-o-transition: .35s;
	transition: .35s;
}

.product-info-tab-container .product-info-tab-menu ul li a.active {
	border-color: #3ebed0;
}

.product-info-tab-container .product-info-tab-menu ul li a:hover {
	border-color: #3ebed0;
}

.product-details-tab-content .product-text h5 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}

/*=====  Product  Specification  ======*/

.product-specification h4 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 20px;
}

.product-specification .specification-table tr {
	border: 1px solid #e7e7e7;
}

.product-specification .specification-table tr td:first-child {
	background-color: #F5F5F5;
}

.product-specification .specification-table .sp-category ul li {
	display: inline-block;
}

.product-specification .specification-table .sp-category ul li + li:before {
	content: '\f105';
	font-family: "FontAwesome";
	padding: 0 8px;
	font-weight: 900;
}

/*=====  Product  Review  ======*/

.product-review-wrapper .shop-single-product-review-list li {
	margin-bottom: 20px;
}

.product-review-wrapper .shop-single-product-review-list .reviewer-img {
	max-width: 120px;
	margin-right: 15px;
}

.product-review-wrapper .shop-single-product-review-list .review-detail .given-rating {
	margin-bottom: 12px;
}

.product-review-wrapper .shop-single-product-review-list .review-detail .given-rating i {
	margin-right: 5px;
}

.product-review-wrapper .shop-single-product-review-list .review-detail .author-name {
	font-size: 16px;
}

.product-review-wrapper .shop-single-product-review-list .review-detail .author-name span.date {
	text-transform: uppercase;
	display: block;
	font-size: 14px;
	margin-top: 10px;
	color: #9a9a9a;
}

.product-review-wrapper .shop-single-product-review-list .review-detail .comment {
	margin-top: 6px;
}

.review-form-container h4 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}

.review-form-container .rating {
	margin-bottom: 10px;
}

.review-form-container .rating li:not(:last-child) {
	margin-bottom: 6px;
}

.review-form-container .rating li i {
	margin-right: 6px;
	font-size: 13px;
}

.review-form h5,
.user-comment-form h5 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 18px;
}

.review-form input,
.review-form textarea,
.user-comment-form input,
.user-comment-form textarea {
	width: 100%;
	border: 1px solid #e7e7e7;
	padding: 12px 20px;
	margin-bottom: 20px;
}

.review-form input[type=submit],
.user-comment-form input[type=submit] {
	width: auto;
	margin-bottom: 0px;
}

.review-form textarea,
.user-comment-form textarea {
	min-height: 120px;
}

.comment-list-wrap {
	margin-bottom: 30px;
}

.signle-product-comment-list li {
	padding: 30px 0;
}

.signle-product-comment-list li:not(:first-child) {
	border-top: 1px solid #e7e7e7;
}

.signle-product-comment-list li:first-child {
	padding-top: 0;
}

.signle-product-comment-list li:last-child {
	padding-bottom: 0;
}

.signle-product-comment-list li .signle-product-comment-list {
	padding-left: 60px;
}

.signle-product-comment-list li .signle-product-comment-list li:first-child {
	border-top: 1px solid #e7e7e7;
	margin-top: 30px;
	padding-top: 30px;
}

.signle-product-comment-list li .signle-product-comment-list li:last-child {
	padding-bottom: 0;
}

/*=====  Single Comment  ======*/

.single-comment img {
	margin-right: 16px;
}

.single-comment .comment-details .commentor-name {
	font-size: 15px;
	margin-bottom: 8px;
}

.single-comment .comment-details .commentor-name span.comment-time {
	font-size: 14px;
	opacity: .6;
	margin-left: 8px;
}

.single-comment .comment-details .comment-content {
	margin-bottom: 8px;
}

/*=============================================
=            Category            =
=============================================*/

.category-product-list {
	padding: 0 30px;
}

/*=====  Single Category  ======*/

.single-category {
	border: 1px solid #e7e7e7;
	padding: 15px;
	margin-bottom: 30px;
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}

.single-category:hover {
	-webkit-box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.12);
}

.single-category .category-image {
	position: relative;
}

.single-category .category-image .wish-btn {
	position: absolute;
	left: 15px;
	top: 15px;
}

.single-category .category-info .category-name {
	font-size: 16px;
	margin-top: 10px;
	font-weight: 600;
}

/*=============================================
=            Toolbar            =
=============================================*/

/*=====  Toolbar  ======*/

.top-toolbar-wrap {
	margin-bottom: 30px;
}

.top-toolbar-wrap .showing-product h5 {
	font-size: 16px;
	margin-bottom: 6px;
	font-weight: 700;
}

.top-toolbar-wrap .showing-product p {
	font-weight: 600;
}

.top-toolbar-action .sort-product label {
	font-size: 16px;
	font-weight: 700;
}

.top-toolbar-action .sort-product select {
	border: 1px solid #e7e7e7;
	padding: 6px 10px;
}

.product-view-mode ul li:not(:last-child) {
	margin-right: 15px;
}

.band-list {
	padding: 0 30px;
}

.shop-list-area {
	margin-bottom: 30px;
}

/*=============================================
=            Cart            =
=============================================*/

.cart-list-form {
	margin-bottom: 20px;
}

/*=====  Cart Table  ======*/

.cart-list-form-inner {
	padding: 20px;
	min-height: 260px;
}

.cart-list-form-inner .cart-list-table.cart-empty tfoot {
	display: none;
}

.cart-list-form-inner .cart-list-table tbody tr.empty-text td p {
	font-size: 16px;
	font-weight: 700;
}

.cart-list-form-inner .cart-list-table tfoot tr td span i.info-sign {
	cursor: pointer;
}

.cart-list-form-inner .table {
	margin-bottom: 0px;
	border: 1px solid #e7e7e7;
}

.cart-list-form-inner .table tr th,
.cart-list-form-inner .table tr td {
	vertical-align: middle;
	padding: 10px 16px;
}

.cart-list-form-inner .table tr td.product-image img {
	max-width: 80px;
}

.cart-list-form-inner .table tr td .cross-btn {
	text-align: center;
	padding: 10px;
	cursor: pointer;
}

.cart-list-form-inner .table tr td .cross-btn:hover {
	color: #dc3545;
}

.cart-list-form-inner .table tr td .input-group-addon {
	padding: 0 6px;
	min-height: 32px;
	line-height: 32px;
	display: inline-block;
	border: 1px solid #e7e7e7;
}

.cart-list-form-inner .table tr td input,
.cart-list-form-inner .table tr td select {
	border: 1px solid #e7e7e7;
	padding: 6px;
	margin-left: -3px;
}

.cart-list-form-inner .table tr td input {
	border-left: 0;
}

.cart-list-form-inner .table tr td select {
	margin-left: 6px;
}

.cart-list-form-inner .table thead tr th {
	border-bottom: 0;
}

.cart-list-form-inner .table thead tr th.cart-remove {
	min-width: 64px;
}

.cart-list-form-inner .table thead tr th.pro-img {
	min-width: 100px;
}

.cart-list-form-inner .table thead tr th.pro-name {
	min-width: 300px;
}

.cart-list-form-inner .table thead tr th.unit-price {
	min-width: 240px;
}

.cart-list-form-inner .table thead tr th.pro-quantity {
	min-width: 246px;
}

.cart-list-form-inner .table thead tr th.pro-total {
	min-width: 140px;
}

/*=============================================
=            Account            =
=============================================*/

.account-area {
	margin-top: 30px;
}

.account-item-container {
	padding: 20px;
	margin-bottom: 20px;
}

/*  6.1: Login & Registration Form */

.login-form {
	margin-bottom: 30px;
}

.login-form .action-btn {
	margin-right: 10px;
}

.login-form .checkout-action {
	border-top: 1px solid #e7e7e7;
	margin-top: 20px;
	padding-top: 20px;
}

.login-form,
.registration-form {
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	margin-bottom: 30px;
	padding: 30px;
}

.login-form .account-form-title,
.registration-form .account-form-title {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 15px;
	position: relative;
}

.login-form .account-form-title:after,
.registration-form .account-form-title:after {
	position: absolute;
	left: 0;
	bottom: -1px;
	height: 2px;
	width: 60px;
	content: "";
}

.registration-form .nav-tabs .nav-item {
	font-weight: 700;
}

.login-form-inner input,
.login-form-inner label,
.registration-form-inner input,
.registration-form-inner label {
	width: 100%;
}

.login-form-inner input,
.registration-form-inner input {
	padding: 8px 20px;
	border: 1px solid #e7e7e7;
	margin-bottom: 20px;
}

.login-form-inner label,
.registration-form-inner label {
	display: 700;
}

/*  x.x: Password Change Form */

.change-pass-form .form-element {
	margin-bottom: 15px;
}

.change-pass-form label {
	font-weight: 700;
}

/*  x.x: Notification  Form */

.notification-form {
	margin-bottom: 20px;
	padding: 120px 20px;
}

.notification-form .notification-title {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 20px;
}

.notification-form .button-elements {
	border-top: 1px solid #e7e7e7;
	padding-top: 20px;
	margin-top: 20px;
	padding-right: 20px;
}

.notification-list.account-item-container {
	padding-bottom: 0px;
}

.notification-list li:not(:last-child) {
	margin-bottom: 15px;
}

.support-form {
	padding: 30px;
	margin-bottom: 30px;
}

.support-form label {
	font-weight: 700;
}

.support-form .form-element {
	margin-bottom: 15px;
}

.support-form .form-element textarea {
	min-height: 100px;
}

.support-form .form-control {
	line-height: 1.1;
	font-size: 14px;
}

/*=============================================
=            Shipping Css            =
=============================================*/

.checkout-wrapper {
	margin-bottom: 20px;
}

.checkout-wrapper .checkout-inner {
	padding: 30px;
	padding-bottom: 0px;
}

.checkout-wrapper .form-group label {
	font-weight: 700;
}

.checkout-wrapper .form-group label i {
	margin-right: 6px;
}

.checkout-wrapper .form-group p i {
	margin-right: 6px;
}

.checkout-menu {
	margin-bottom: 16px;
}

.checkout-menu ul.nav-tabs {
	border-bottom: 0px;
}

.checkout-menu ul li a {
	background-color: #e7e7e7;
	padding: 10px 16px;
	font-size: 16px;
}

.checkout-menu ul li a .s-number {
	margin-right: 6px;
	display: inline-block;
	padding: 3px 5px;
	border-radius: 50%;
	font-size: 12px;
}

/*=====  Shipping Form  ======*/

.shipping-form,
.billing-form,
.payment-method {
	padding: 30px;
	margin-bottom: 16px;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.shipping-form h4,
.billing-form h4,
.payment-method h4 {
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 15px;
}

.shipping-feild.form-active .view-element,
.billing-feild.form-active .view-element {
	display: none;
}

.shipping-feild.form-active .input-element,
.billing-feild.form-active .input-element {
	display: block;
}

.shipping-feild .view-element,
.billing-feild .view-element {
	display: block;
}

.shipping-feild .input-element,
.billing-feild .input-element {
	display: none;
}

/*=====  Billing Form  ======*/

.billing-form h4 .custom-checkbox {
	margin-left: 15px;
}

.billing-form h4 .custom-checkbox label {
	font-weight: 500;
	font-size: 16px;
}

.payment-method ul li:not(:last-child) {
	margin-bottom: 15px;
}

.payment-method ul li:last-child {
	border-top: 1px solid #e7e7e7;
}

.payment-method ul li .checkout-btn {
	padding-top: 16px;
}

/*=====  Shipping Table  ======*/

.shipping-table .table {
	margin-top: 20px;
}

.shipping-table .table thead tr th.location-type {
	min-width: 130px;
}

.shipping-table .table thead tr th.location {
	min-width: 150px;
}

.shipping-table .table thead tr th.actions {
	min-width: 180px;
}

.shipping-table .table tbody tr td:last-child {
	padding-bottom: 8px;
}

.bottom-pagination {
	margin-bottom: 30px;
}

.bottom-pagination li {
	display: inline-block;
}

.bottom-pagination li.next {
	float: right;
}

.bottom-pagination li a {
	padding: 8px;
	background-color: #e7e7e7;
	border-radius: 10px;
}

.bottom-pagination li a i.fa-angle-right {
	margin-left: 6px;
}

.bottom-pagination li a i.fa-angle-left {
	margin-right: 6px;
}

/*=====  Shipping Modal Form  ======*/

.add-shipping-form .form-element {
	margin-bottom: 14px;
}

.add-shipping-form .form-element label {
	font-weight: 700;
}

/*=============================================
=            Location            =
=============================================*/

#location-map {
	min-height: 400px;
	margin-right: 30px;
	margin-bottom: 30px;
}

.location-tracker-inner {
	margin-bottom: 20px;
}

.location-tracker-inner .single-sidebar {
	margin-left: 30px;
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.location-tracker-inner .single-sidebar select {
	width: 100%;
}

/*=============================================
=            Modal Css            =
=============================================*/

/*=====  Quickview  Modal ======*/

.quickview-container .quickview-poductList .owl-nav button i {
	font-size: 20px;
}

.quickview-container .quickview-poductList .owl-nav button.owl-prev {
	position: absolute;
	right: 50px;
	top: -45px;
	margin-top: -8px;
}

.quickview-container .quickview-poductList .owl-nav button.owl-next {
	position: absolute;
	right: 100px;
	top: -45px;
	margin-top: -8px;
}

.product-large-image {
	border: 1px solid #e7e7e7;
}

.product-image-menu {
	padding: 15px;
}

.product-image-menu .owl-stage-outer {
	margin-left: -2px;
	margin-right: -10px;
}

.product-image-menu .owl-nav button i {
	font-size: 20px;
}

.product-image-menu .owl-nav button.owl-prev {
	position: absolute;
	right: 0px !important;
	top: 50% !important;
	margin-top: -8px;
}

.product-image-menu .owl-nav button.owl-next {
	position: absolute;
	left: 0px !important;
	top: 50% !important;
	margin-top: -8px;
}

.product-image-menu .single-image-menu {
	border: 1px solid #e7e7e7;
	cursor: pointer;
}

/*=====  Shipping View Modal  ======*/

.shipping-details .form-element {
	margin-bottom: 20px;
}

.shipping-details .form-element label {
	font-weight: 700;
}

.shipping-details .form-element p i {
	margin-right: 4px;
}

/*=============================================
=            Dashboard            =
=============================================*/

.dashboard-content-area {
	margin-bottom: 30px;
}

/*=====  Dashboard Menu  ======*/

.dashboard-sidebar .dashboard-menu {
	padding: 20px;
}

.dashboard-sidebar .dashboard-menu .dash-sidebar-title {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
}

.dashboard-sidebar .dashboard-menu .nav {
	display: block;
	border-bottom: 0 !important;
}

.dashboard-sidebar .dashboard-menu li {
	display: block;
	position: relative;
}

.dashboard-sidebar .dashboard-menu li:after {
	position: absolute;
	left: 6px;
	top: 10px;
	content: "\f178";
	font-family: fontAwesome;
}

.dashboard-sidebar .dashboard-menu li:not(:last-child) {
	margin-bottom: 10px;
	border-bottom: 1px solid #e7e7e7;
}

.dashboard-sidebar .dashboard-menu a {
	font-weight: 600;
	padding-left: 26px !important;
	display: block;
	padding: 10px;
}

.dashboard-sidebar .dashboard-menu a.active {
	background-color: #f3f3f3;
}

/*=====  Single Dashboard  ======*/

.single-dashboard-content {
	padding: 30px;
}

.single-dashboard-content .add-shipping-form .form-element,
.single-dashboard-content .support-form .form-element,
.single-dashboard-content .change-pass-form .form-element {
	margin-bottom: 20px;
}

.single-dashboard-content .add-shipping-form .form-element label,
.single-dashboard-content .support-form .form-element label,
.single-dashboard-content .change-pass-form .form-element label {
	font-weight: 700;
}

/*=============================================
=            Order            =
=============================================*/

/*=====  Order Table  ======*/

.order-table.account-item-container {
	padding: 0px;
}

.order-table .table {
	margin-bottom: 0px;
	border: 1px solid #e7e7e7;
}

.order-table .table td {
	vertical-align: middle;
}

.order-table .table thead tr th {
	border-bottom: 0px;
}

.order-table .table thead tr th.o-no {
	min-width: 70px;
}

.order-table .table thead tr th.o-date {
	min-width: 130px;
}

.order-table .table thead tr th.o-del-date {
	min-width: 140px;
}

.order-table .table thead tr th.o-bill {
	min-width: 70px;
}

.order-table .table thead tr th.o-due {
	min-width: 65px;
}

.order-table .table thead tr th.o-action {
	min-width: 130px;
}

.order-table .table tbody tr:not(:last-child) {
	border-bottom: 1px solid #e7e7e7;
}

.order-table .table tbody tr td:last-child {
	padding-bottom: 14px;
}

.order-table .table tbody tr td .table-action-btn a {
	margin-bottom: 8px;
}

/*=====  Order Info  ======*/

.order-info-inner {
	padding: 30px;
	margin-bottom: 20px;
}

.order-info .form-element {
	margin-bottom: 20px;
}

.order-info .form-element label {
	font-weight: 700;
}

.order-info-table .table {
	border: 1px solid #e7e7e7;
}

.order-info-table .table td {
	vertical-align: middle !important;
}

.order-info-table .table td .cross-btn {
	text-align: center;
	padding: 10px;
	cursor: pointer;
}

.order-info-table .table td i {
	margin-right: 6px;
}

.order-info-table .table td,
.order-info-table .table th {
	padding: 10px 18px;
}

.order-info-table .table thead tr th {
	border-bottom: 0;
}

.order-info-table .table thead tr th.p-image {
	min-width: 116px;
}

.order-info-table .table thead tr th.p-title {
	min-width: 220px;
}

.order-info-table .table thead tr th.t-price {
	min-width: 140px;
}

.order-info-table .table thead tr th.p-Quanity {
	width: 180px;
}

.order-info-table .table thead tr th.p-cancel {
	width: 66px;
}

.order-info-table .table tbody tr td.p-image img {
	max-width: 80px;
}

.order-info-table .table tbody tr td.cross-btn {
	text-align: center;
	cursor: pointer;
}

/*=============================================
=            Profile            =
=============================================*/

.profile-img {
	margin-bottom: 10px;
}

.profile-img img {
	width: 140px;
	height: 140px;
	border-radius: 50%;
}

.profile-img .input-group {
	margin-top: 10px;
}

.profile-img .full-name {
	font-size: 16px;
	margin-top: 10px;
}

.profile-area {
	margin-bottom: 20px;
}

.profile-area .form-group {
	margin-bottom: 0px;
}

.mobile-no {
	display: inline-block;
	margin-bottom: 20px;
}

.profile-details {
	-webkit-box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.12);
	box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.12);
	border-radius: 12px;
	padding: 20px;
	position: relative;
}

.profile-details .profile-inner.editMode .form-row .view-info {
	display: none !important;
}

.profile-details .profile-inner.editMode .form-row .input-group {
	display: -webkit-box !important;
	display: -webkit-flex !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.profile-details .profile-inner .pro-action-btns .site-btn + .site-btn {
	margin-left: 20px;
}

.profile-details .up-image {
	position: absolute;
	right: 0;
	top: -145px;
	border: 2px solid #3ebed0;
	padding: 4px 15px;
	cursor: pointer;
}

.profile-details .pro-upload {
	display: none;
}

.profile-details .inner-title {
	font-size: 16px;
	font-weight: 700;
	border-bottom: 1px solid #e7e7e7;
	padding-bottom: 14px;
}

.profile-details .form-group label {
	font-weight: 700;
}

.profile-details .form-group .view-info i {
	margin-right: 4px;
}

/*=============================================
=            Section Block           =
=============================================*/

.section-block .title {
	padding: 15px;
	padding-left: 30px;
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 30px;
	text-align: center;
}

.section-block .title h4 {
	font-size: 24px;
	font-weight: 700;
}

.section-block .view-more-btn {
	margin-bottom: 30px;
}

/*=============================================
=            Toast            =
=============================================*/

/*  6.1: Toast Styless */

.shop-toast {
	position: fixed;
	top: 50%;
	left: 0;
	-webkit-transform: translateX(-100px);
	-ms-transform: translateX(-100px);
	transform: translateX(-100px);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	z-index: 999;
}

.shop-toast.show {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}

.shop-toast .toast-content {
	background-color: #72B03A;
	padding: 10px 20px;
}

/*=============================================
=            Button            =
=============================================*/

.site-btn {
	display: inline-block;
	border-radius: 4px;
	padding: 6px 14px;
	-webkit-transition: 0.35s;
	-o-transition: 0.35s;
	transition: 0.35s;
	border: 1px solid #dc5652;
}

.site-btn i {
	margin-right: 6px;
}

.site-btn.cancel-btn {
	background-color: #D2312D;
	border-color: #D2312D;
}

.site-btn.cancel-btn:hover {
	color: #D2312D;
}

.site-btn.return-btn {
	background-color: #ed9c28;
	border-color: #ed9c28;
}

.site-btn.return-btn:hover {
	color: #ed9c28;
}

.reply-btn {
	font-weight: 600;
}

.view-more-btn .site-btn i {
	margin-left: 6px;
}

.save-btn {
	border-color: #3ebed0;
	background-color: #3ebed0 !important;
}

.save-btn:hover {
	background-color: #ffffff !important;
	color: #3ebed0 !important;
}

.wish-btn:hover .fa-heart-o:before {
	content: "\f004";
}

.table-action-btn a {
	margin-bottom: 10px;
}

.backToTop {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	position: fixed;
	bottom: 45px;
	right: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	z-index: 99;
	-webkit-box-shadow: 0px 2px 6px 6px rgba(0, 0, 0, 0.06);
	box-shadow: 0px 2px 6px 6px rgba(0, 0, 0, 0.06);
}

.backToTop.show {
	opacity: 1;
	visibility: visible;
}

.backToTop a i {
	font-size: 18px;
}

/*=====  End of Button  ======*/

/*=============================================
=            section title            =
=============================================*/

/*=====  End of section title  ======*/

.breadcrumb {
	margin-bottom: 0px;
	background-color: #f3f3f3;
}

/*=====  Breadcrumb Inner  ======*/

.breadcrumb-inner {
	padding: 15px;
}

.breadcrumb-inner ul li {
	display: inline-block;
}

.breadcrumb-inner ul li + li:before {
	content: '\f105';
	font-family: "FontAwesome";
	padding: 0 8px;
	font-weight: 900;
}

/*=============================================
=            accordions            =
=============================================*/

/*=====  End of accordions  ======*/

/*=============================================
=            scroll top            =
=============================================*/

/*=====  End of scroll top  ======*/

/*=============================================
=            Cart Dropdown            =
=============================================*/

/*=====  Cart List  ======*/

.cart-list li {
	display: block !important;
}

.cart-list li:not(:last-child) {
	margin-bottom: 15px;
	padding-bottom: 15px;
	margin-right: 0 !important;
	border-bottom: 1px solid #e7e7e7;
}

.cart-list .single-cart .product-img {
	border: 1px solid #e7e7e7;
}

.cart-list .single-cart .product-img a {
	padding: 5px;
}

.cart-list .single-cart .product-info {
	margin: 0 10px;
}

.cart-list .single-cart .product-info .p-name a {
	padding: 0px;
	font-size: 14px;
}

.cart-list .single-cart .product-info .price {
	font-weight: 600;
}

.cart-list .single-cart a {
	padding: 0;
}

.cart-list .single-cart a i {
	font-size: 14px;
}

.cart-list .single-cart a.delete-btn {
	padding: 0px;
}

.cart-list .single-cart a.delete-btn i {
	font-size: 14px !important;
}

.cart-list .single-cart a:hover i {
	color: #dc3545;
}

/*=====  End of Cart Dropdown  ======*/

@media only screen and (min-width: 768px) and (max-width: 991px) {

.section-space--inner--r90 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.section-space--inner--r120 {
	padding-top: 80px;
	padding-bottom: 80px;
}

.section-space--inner--top--r120 {
	padding-top: 80px;
}

.section-space--inner--bottom--r120 {
	padding-bottom: 80px;
}

.section-space--bottom--r50 {
	margin-bottom: 40px;
}

.section-space--bottom--r60 {
	margin-bottom: 50px;
}

.section-space--bottom--r100 {
	margin-bottom: 80px;
}

}

@media only screen and (min-width: 1200px) {

.modal-container .modal-dialog {
	max-width: 90%;
}

}

@media (min-width: 1200px) {

.container-fluid--cp-150 {
	padding: 0 50px;
}

.page-content-double-sidebar .container {
	max-width: 1600px;
}

.container {
	max-width: 1200px;
}

}

@media (min-width: 1420px) {

.container-fluid--cp-150 {
	padding: 0 150px;
}

}

@media (max-width: 1919px) {

.container-fluid--cp-60 {
	padding: 0 30px;
}

.container-fluid--cp-80 {
	padding: 0 40px;
}

}

@media only screen and (max-width: 1919px) and (max-width: 767px) {

.container-fluid--cp-80 {
	padding: 0 30px;
}

}

@media only screen and (max-width: 1919px) and (max-width: 575px) {

.container-fluid--cp-80 {
	padding: 0 15px;
}

}

@media only screen and (max-width: 1199px) {

h2 {
	font-size: 36px;
}

h3 {
	font-size: 32px;
}

.modal-dialog {
	max-width: 1000px;
}

.product-action ul li a {
	padding: 5px 10px;
}

.popular-product-list .single-product:hover .product-hover-menu {
	right: 0;
}

.profile-details .up-image {
	right: -25px;
}

}

@media only screen and (max-width: 991px) {

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

.modal-dialog {
	max-width: 800px;
}

.header-menubar .mobile-menu {
	display: block;
}

.header-menubar .main-menu nav.user-loggedin ul li .search-form,
.header-menubar .mobile-actions nav.user-loggedin ul li .search-form {
	top: 30px;
}

.header-menubar .main-menu ul > li.cart-option a .cart-count,
.header-menubar .mobile-actions ul > li.cart-option a .cart-count {
	top: -4px;
	left: 12px;
}

.footer-container {
	padding-bottom: 10px;
}

.footer-weidget {
	margin-bottom: 20px;
}

.product-list .owl-nav button.owl-prev {
	top: -40px !important;
}

.product-list .owl-nav button.owl-next {
	top: -40px !important;
}

.single-product .product-hover-menu li img {
	max-width: 60px;
}

.product-action ul li a {
	padding: 5px 14px;
}

.product-list-content .product-box.column-self [class*="col"],
.product-list-content .product-box.column-self [class*="col-"] {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	width: 50%;
	max-width: 50%;
}

.product-list-content .product-box.column-self .single-product .product-action ul li a {
	padding: 5px 13px;
}

.bottom-pagination-wrap.text-right {
	text-align: center !important;
}

.product-details .product-image-menu {
	margin-bottom: 10px;
}

.notification-form .message-notification {
	margin-top: 20px;
}

#location-map {
	margin: 0 auto;
}

.location-tracker-inner {
	padding: 15px;
}

.location-tracker-inner .single-sidebar {
	margin-left: 0;
	margin-bottom: 15px;
}

.order-info-table .table thead tr th.p-price {
	min-width: 180px;
}

.profile-area .form-group {
	margin-bottom: 15px;
}

.profile-details .profile-inner .pro-action-btns .site-btn + .site-btn {
	margin-top: 10px;
}

.profile-details .up-image {
	right: -50px;
}

.section-block .title {
	margin-bottom: 20px;
}

.backToTop {
	bottom: 45px;
}

}

@media only screen and (max-width: 767px) {

h2 {
	font-size: 30px;
}

h3 {
	font-size: 25px;
}

.section-space--inner--r90 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.section-space--inner--r120 {
	padding-top: 60px;
	padding-bottom: 60px;
}

.section-space--inner--top--r120 {
	padding-top: 60px;
}

.section-space--inner--bottom--r120 {
	padding-bottom: 60px;
}

.section-space--bottom--r50 {
	margin-bottom: 30px;
}

.section-space--bottom--r60 {
	margin-bottom: 30px;
}

.section-space--bottom--r100 {
	margin-bottom: 60px;
}

.modal-dialog {
	max-width: 680px;
}

.product-action ul li a {
	padding: 5px 40px;
}

.product-list-content .product-box.column-self [class*="col"],
.product-list-content .product-box.column-self [class*="col-"] {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 100%;
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	width: 100%;
	max-width: 100%;
}

.product-list-content .product-box.column-self .single-product .product-action ul li a {
	padding: 5px 40px;
}

.product-info-tab-container .product-info-tab-menu {
	margin-bottom: 0;
}

.product-info-tab-container .product-info-tab-menu ul.nav-tabs {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.product-info-tab-container .product-info-tab-menu ul li {
	margin-bottom: 15px;
}

.cart-list-form-inner .table tr td select {
	margin-left: 0px;
	margin-top: 5px;
}

.cart-list-form-inner .table thead tr th.pro-name {
	min-width: 200px;
}

.cart-list-form-inner .table thead tr th.unit-price {
	min-width: 200px;
}

.cart-list-form-inner .table thead tr th.pro-quantity {
	min-width: 220px;
}

.profile-details .profile-inner .pro-action-btns .site-btn + .site-btn {
	margin-top: 0px;
}

.profile-details .up-image {
	right: 100px;
}

.section-block .title h4 {
	font-size: 22px;
}

}

@media only screen and (max-width: 575px) {

.header-menubar .main-menu nav.user-loggedin ul li .search-form,
.header-menubar .mobile-actions nav.user-loggedin ul li .search-form {
	width: 380px;
}

.copyright-text {
	margin-bottom: 10px;
	text-align: center !important;
}

.credit-text.text-right {
	text-align: center !important;
}

.single-product:hover .product-hover-menu {
	right: 0px;
}

.single-product:hover .product-detail .product-badge {
	right: 15px;
}

.single-product .product-hover-menu {
	display: none;
}

.product-action ul li a {
	padding: 5px 53px;
}

.product-list-content .product-box.column-self .single-product .product-action ul li a {
	padding: 5px 53px;
}

.product-details .product-actions .quantity-poduct-btns {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
}

.product-details .product-actions .color-size-selection {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-flow: column;
	-ms-flex-flow: column;
	flex-flow: column;
}

.profile-details .up-image {
	right: 40px;
}

.profile-details .up-image {
	right: 5px;
	padding: 4px 10px;
}

.backToTop {
	bottom: 70px;
}

}

@media only screen and (max-width: 479px) {

.single-popular-item {
	padding: 8px;
}

.single-popular-item .item-name {
	font-size: 14px;
}

.header-menubar .main-menu nav.user-loggedin ul li .search-form,
.header-menubar .mobile-actions nav.user-loggedin ul li .search-form {
	width: 260px;
}

.header-menubar .main-menu nav.user-loggedin ul li .search-form .search-form-inner button,
.header-menubar .mobile-actions nav.user-loggedin ul li .search-form .search-form-inner button {
	padding: 0 20px;
}

.single-slider {
	height: 35vh;
}

.hero-slider-container .owl-dots {
	bottom: 15px;
}

.product-action {
	left: 5%;
}

.product-action ul {
	border-right: 1px solid #e7e7e7;
	border-left: 1px solid #e7e7e7;
}

.product-action ul li a {
	padding: 5px 30px;
}

.product-list-content .product-box.column-self .single-product .product-action ul li a {
	padding: 5px 30px;
}

.product-list-content .product-box.column-self .single-product .product-action ul li a {
	padding: 5px 15px;
}

.popular-product-list .single-product .product-action ul li a {
	padding: 5px 30px;
}

.product-review-wrapper .shop-single-product-review-list .review-detail .author-name {
	font-size: 14px;
}

.checkout-menu ul li:not(:last-child) {
	margin-bottom: 10px;
}

.billing-form h4 .custom-checkbox label {
	font-size: 14px;
}

}

@media only screen and (max-width: 379px) {

.header-menubar .main-menu nav.user-loggedin ul li .search-form,
.header-menubar .mobile-actions nav.user-loggedin ul li .search-form {
	right: -80px;
}

.header-menubar .main-menu ul > li.cart-option .cart-dropdown,
.header-menubar .mobile-actions ul > li.cart-option .cart-dropdown {
	min-width: 220px;
	right: -30px;
}

.size-list li:not(:last-child) {
	margin-right: 8px;
}

.single-slider {
	height: 30vh;
}

.product-list {
	padding: 0 15px;
}

.product-list .owl-nav button.owl-prev {
	right: 10px !important;
	padding: 0px 4px !important;
	top: -36px !important;
}

.product-list .owl-nav button.owl-next {
	padding: 0px 4px !important;
	right: 30px !important;
	top: -36px !important;
}

.product-action ul li a {
	padding: 5px 15px;
}

.bottom-pagination-wrap ul li {
	padding: 5px 5px;
}

.bottom-pagination-wrap ul li:not(:last-child) {
	margin-right: 2px;
}

.popular-product-list .single-product .product-action ul li a {
	padding: 5px 15px;
}

.product-details .product-large-image img {
	max-width: 240px;
}

.product-details .brand-seller span {
	display: block;
}

.product-details .brand-seller span + span {
	margin-left: 0px;
}

.billing-form h4 .custom-checkbox {
	margin-left: 0;
	margin-top: 4px;
}

.section-block .title h4 {
	font-size: 20px;
}

}

