/*=============================================
=            Account            =
=============================================*/
.account-area{
    margin-top: 30px;
}

.account-item-container{
    padding: 20px;
    margin-bottom: 20px;
    @extend .color-white-bg;
}

/*  6.1: Login & Registration Form */
.login-form{
    margin-bottom: 30px;
    .action-btn{
        margin-right: 10px;
    }
    .checkout-action{
        border-top: 1px solid #e7e7e7;
        margin-top: 20px;
        padding-top: 20px;
    }
}
	
	
		
.login-form , .registration-form{
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    @extend .color-white-bg;
	padding: 30px;
    .account-form-title{
        font-size: 20px;
		font-weight: $bold;
		margin-bottom: 20px;
		border-bottom: 1px solid #e7e7e7;
		padding-bottom: 15px;
		position: relative;
        &:after {
            position: absolute;
			left: 0;
			bottom: -1px;
			height: 2px;
			width: 60px;
			content: "";
			@extend .theme-default-bg;
        }
    }
}

.registration-form{
    .nav-tabs{
        .nav-item{
            font-weight: $bold;
        }
    }
}
		
			
.login-form-inner, .registration-form-inner{
    input , label{
        width: 100%;
    }
    input {
        padding: 8px 20px;
        border: 1px solid #e7e7e7;
        margin-bottom: 20px;
    }
    label {
        display: $bold;
    }
}

/*  x.x: Password Change Form */

.change-pass-form{
    .form-element{
        margin-bottom: 15px;
    }
    label{
        font-weight: $bold
    }
}

/*  x.x: Notification  Form */
.notification-form{
    @extend .color-white-bg;
    margin-bottom: 20px;
    padding:120px 20px;
    .notification-title{
        font-size: 16px;
        font-weight: $bold;
        margin-bottom: 20px;
    }
    .button-elements{
        border-top: 1px solid #e7e7e7;
        padding-top: 20px;
        margin-top: 20px;
        padding-right: 20px;
    }
    .message-notification{
        @include tab{
            margin-top: 20px;
        }
    }
}
.notification-list{
    &.account-item-container{
        padding-bottom: 0px;
    }
    li{
        &:not(:last-child){
            margin-bottom: 15px;
        }
    }
}


.support-form{
    padding: 30px;
    margin-bottom: 30px;
    label{
        font-weight: $bold
    }
    .form-element{
        margin-bottom: 15px;
        textarea{
            min-height: 100px;
        }
    }
    .form-control{
        line-height: 1.1;
        font-size: 14px;
        
    }
}