/*=============================================
=            Banner            =
=============================================*/

.hero-area{
    margin-top: 20px;
}

/*=====  Single slider  ======*/
.single-slider{
    background-size: cover !important;
    width: 100%;
    height: 55vh;
    @include mobileSm {
        height: 35vh;
    }
    @include mobileXs {
        height: 30vh;
    }
}

.feature-image{
    .single-feature-image{
        &:not(:last-child){
            margin-bottom: 15px;
        }
        
    }
}

/*=====  slider Nav  ======*/
.hero-slider-container{
    position: relative;
    &:hover{
        .owl-nav{
            button{
                opacity: 1;
                visibility: visible;
                &.owl-prev{
                    right: 20px;
                }
                &.owl-next{
                    left: 20px;
                }
            }
        }
    }
    .owl-nav{
        button{
            opacity: 0;
            visibility: hidden;
            i{
                font-size: 18px;
            }
            &.owl-prev{
                position: absolute;
                right: 40px;
                top: 50%;
                transition: .3s;
            }
            &.owl-next{
                position: absolute;
                left: 40px;
                top: 50%;
                transition: .3s;
            }
        }
    }
    .owl-dots{
        position: absolute;
		left: 50%;
		bottom: 30px;
        margin-left: -20px;
        @include mobileSm {
            bottom: 15px;
        }
        button + button{
            margin-left: 10px;
        }
        .owl-dot{
            height: 16px;
            position: relative;
            width: 16px;
            border-radius: 50%;
            border: 1px solid $theme-color--default;
            @extend .color-white-bg;
            &:after{
                position: absolute;
                left: 50%;
                top: 50%;
                width: 8px ;
                height: 8px;
                margin-left: -4px;
                margin-top: -4px;
                border-radius: 50%;
                opacity: 0;
                visibility: hidden;
                content: "";
                @extend .theme-default-bg;
            }   
            &.active{
                &:after{
                    opacity: 1;
                    visibility: visible;
                }      
            }
        }
    }
}
