/*=============================================
=            Cart            =
=============================================*/
.cart-list-form{
    margin-bottom: 20px;
    @extend .color-white-bg;
}
/*=====  Cart Table  ======*/

.cart-list-form-inner{
    padding: 20px;
    min-height: 260px;
    .cart-list-table{
        &.cart-empty{
            tfoot{
                display: none;
            }
        }
        tbody{
            tr{
                &.empty-text{
                    td{
                        p{
                            font-size: 16px;
                            font-weight: $bold;
                            @extend .theme-default;
                        }
                    }
                    
                    
                }
            }
        }
        tfoot{
            tr{
                td{
                    span{
                        i{
                            &.info-sign{
                                cursor: pointer;
                                @extend .theme-default;
                            }
                        }
                    }
                }
            }
        }
    }
    .table{
        margin-bottom: 0px;
        border: 1px solid #e7e7e7;
        tr{
            th,td{
                vertical-align: middle;
                padding: 10px 16px;
            }
            td{
                &.product-image{
                    img{
                        max-width: 80px;
                    }
                }
                .cross-btn{
                    text-align: center;
                    padding: 10px;
                    cursor: pointer;
                    &:hover{
                        color: $danger
                    }
                }
                .input-group-addon{
                    padding: 0 6px;
                    min-height: 32px;
                    line-height: 32px;
                    display: inline-block;
                    border: 1px solid #e7e7e7;
                }
                input, select{
                    border: 1px solid #e7e7e7;
                    padding: 6px;
                    margin-left: -3px;
                }
                input{
                    border-left: 0;
                }
                select{
                    margin-left: 6px;
                    @include mobileLg{
                        margin-left: 0px;
                        margin-top: 5px;
                    }
                }
                
            }
        }
        thead{
            tr{
                th{
                    border-bottom: 0; 
                    &.cart-remove{
                        min-width: 64px;
                    }
                    &.pro-img{
                        min-width: 100px;
                    }
                    &.pro-name{
                        min-width: 300px;
                        @include mobileLg{
                            min-width: 200px;
                        }
                    }
                    &.unit-price{
                        min-width: 240px;
                        @include mobileLg{
                            min-width: 200px;
                        }
                    }
                    &.pro-quantity{
                        min-width: 246px;
                        @include mobileLg{
                            min-width: 220px;
                        }
                    }
                    &.pro-total{
                        min-width: 140px;
                    }
                }
            } 
        }
        
    }
}