
/*=============================================
=            Category            =
=============================================*/
.category-product-list{
    padding: 0 30px;
}

/*=====  Single Category  ======*/

.single-category{
    border: 1px solid #e7e7e7;
    padding: 15px;
    margin-bottom: 30px;
    transition: .3s;
    &:hover{
        box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.12);
    }
    .category-image{
        position: relative;
        .wish-btn{
            position: absolute;
            left: 15px;
            top: 15px;

        }

    }
    .category-info{
        .category-name{
            font-size: 16px;
            margin-top:10px;
            font-weight: $semi-bold;
        }
    }
}