/*=============================================
=            Dashboard            =
=============================================*/

.dashboard-content-area{
    margin-bottom: 30px;
}

/*=====  Dashboard Menu  ======*/

.dashboard-sidebar{
    .dashboard-menu{
        padding: 20px;
        @extend .color-white-bg;
        .dash-sidebar-title{
            font-size: 18px;
            font-weight: $bold;
            margin-bottom: 20px;
        }
        .nav{
            display: block;
            border-bottom: 0 !important;
        }
        li{
            display: block;
            position: relative;
            &:after{
                position: absolute;
                left: 6px;
                top: 10px;
                content:"\f178";
                font-family: fontAwesome;
            }
            &:not(:last-child){
                margin-bottom: 10px;
                border-bottom: 1px solid #e7e7e7; 
            }
        }
        
        a{
            font-weight: $semi-bold;
            padding-left: 26px !important; 
            display: block;
            padding: 10px;
            &.active{
                background-color: #f3f3f3;
                @extend .theme-default;
            }
        }
    }
}


/*=====  Single Dashboard  ======*/

.single-dashboard-content{
    padding: 30px;
    @extend .color-white-bg;
    .add-shipping-form , .support-form, .change-pass-form{
        .form-element{
            margin-bottom: 20px;
            label{
                font-weight: $bold;
            }
        }
    }
}


