
/*=============================================
=            footer            =
=============================================*/

/*  8.1: Footer Container */
.footer-container{
    padding: 30px 0;
    @extend .color-white-bg;
    @include tab{
        padding-bottom: 10px;
    }
}

/*  8.2: Footer Weidget */
.footer-weidget{
    @extend .theme-black;
    @include tab{
        margin-bottom: 20px;
    }
	.footer-head{
        margin-bottom: 22px;
		padding-bottom: 15px;
		position: relative;
		h4 {
            font-size: 16px;
            font-weight: $bold;
			@extend .theme-black;
        }
			
		&:after , &:before{
            position: absolute;
			left: 0;
			bottom: 0;
			height: 2px;
			width: 100%;
			content: "";
        }
        &:after{
			background-color: #e7e7e7;
        }
			
		&:before {
            bottom: -1px;
			width: 40px;
			height: 4px;
            z-index: 2;
            @extend .theme-default-bg;
        }	
    }
    .footer-content{
        .weidget-nav-menu{
            ul {
                li {
                    &:not(:last-child){
                        margin-bottom: 10px;
                    }
						
					a {
                        font-size: 14px;
						transition: .3s;
						@extend .theme-black;
						&:hover{
                            @extend .theme-default;
                        }	
                    }	
                }	
            }		
        }	
    }
}
	
		
	
		


/*  8.3: Footer Copyright */
.footer-copyright{
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    @extend .theme-black;
    @extend .color-white-bg;
    a{
        font-weight: $semi-bold;
		transition: .3s;
        @extend .theme-secondary;
		
    }
		
}

.copyright-text{
    @include mobileMd{
        margin-bottom: 10px;
        text-align: center !important
    }
}

.credit-text{
    &.text-right{
        @include mobileMd{
            text-align: center !important
        }	
    }	
}
	
	

/*=====  End of footer ======*/


