
/*=============================================
=            Header            =
=============================================*/

.user-actions-wrap{
    &.user-loggedin{
        .user-actions{
            .account-option{
                .logout-view{
                    display: none;
                }
                .login-view{
                    display: flex;
                }
            }
        }
    } 
    .user-actions{
        .account-option{
            .logout-view{
                display: block;
            }
            .login-view{
                display: none;
            }
        }
    }
}

/*=====  Header Top  ======*/
.header-top-content{
    border-bottom: 1px solid #dee2e6;
    padding: 15px 0;
    .hotline{
        font-size: 14px;
        i{
            margin-right: 4px;
        }
        .hotline-phone{
            margin-left: 5px;
            font-weight: $semi-bold;
            @extend .theme-default;
        }
    }
    .top-menu{
        ul{
            li{
                display: inline-block;
                &:not(:last-child){
                    margin-right: 15px;
                }
            }
        }
    }
}


/*=====  Header Middle  ======*/

.header-middle{
    padding: 15px 0; 
}
.main-header{
    
    &.sticky{
        .header-menubar{
            position: fixed;
            width: 100%;
            top: 0;
            z-index: 998;
        }
    }
}


/*=====  Header Menubar  ======*/

.header-menubar{
    @extend .color-white-bg; 
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.1);
    .main-menu-inner{
        .user-actions{
            visibility: hidden;
            opacity: 0;
        }
    }
    .mobile-menu{
        display: none;
        @include tab{
            display: block;
        }
    }
    .main-menu , .mobile-actions{
        nav{
            &.user-loggedin{
                ul{
                    li{
                        &.account-option{
                            .logout-view{
                                display: none;
                            }
                            .login-view{
                                display: flex;
                            }
                        }
                        .search-form{
                            position: absolute;
                            top: 58px;
                            width: 400px;
                            right: 0;
                            z-index: 998;
                            display: none;
                            
                            @include tab{
                               top: 30px;
                            }
                            @include mobileMd{
                                width: 380px;
                            }
                            @include mobileSm{
                                width: 260px;
                            }
                            @include mobileXs{
                                right: -80px;
                            }

                            .search-form-inner{
                                border: 1px solid #e7e7e7;
                                height: 35px;
                                input{
                                    width: 100%;
                                    border: 0;
                                    padding: 0px 15px;
                                    height: 100%;
                                }
                                button{
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    padding: 0 25px;
                                    border: 0;
                                    height: 35px;
                                    @extend .theme-default-bg;
                                    @extend .color-white;
                                    @include mobileSm{
                                        padding: 0 20px;
                                    }
                                }
                            }      
                        }
                    }
                }
            }
        }
        ul{
            >li{
                
                position: relative;
                &.cart-option{
                    &.cart-empty{
                        .cart-dropdown{
                            .site-btn{
                                display: none;
                            }
                            .cart-empty-text{
                                display: block;
                            }
                        }
                        a{
                            .cart-count{
                                display: none;
                            }
                        }
                    }
                    a{
                        i{
                            font-size: 18px;
                        }
                        .cart-count{
                            display: inline-block;
                            position: absolute;
                            top: 8px;
                            left: 32px;
                            padding: 0px 4px;
                            font-size: 14px;
                            line-height: 1.2;
                            border-radius: 50%;
                            color: #fff;
                            @extend .theme-secondary-bg;
                            @include tab{
                                top: -4px;
                                left: 12px;
                            }
                        }
                    }
                    &:hover{
                        .cart-dropdown{
                            padding: 15px;
                            z-index: 2;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    .cart-dropdown{
                        text-align: center;
                        position: absolute;
                        padding: 0 15px;
                        right: 0;
                        top: 50px;
                        min-width: 270px;
                        z-index: -1;
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09);
                        opacity: 0;
                        visibility: hidden;
                        transition: .3s;
                        overflow: hidden;
                        @extend .color-white-bg;
                        @include mobileXs{
                            min-width: 220px;
                            right: -30px;
                        }
                        .site-btn{
                            display: block;
                            margin-top: 15px;
                            padding: 6px 14px !important;
                            color: #fff !important;
                            &:hover{
                                color: $theme-color--secondary !important;
                            }
                        }
                        &.cart-empty{
                            .site-btn{
                                display: none;
                            }
                            .cart-empty-text{
                                display: block;
                            }
                        }
                        .cart-empty-text{
                            display: none;
                            text-align: center;
                            @extend .theme-default;
                        }
                        ul{
                            li{
                                .single-cart {
                                    .product-img{
                                        a{
                                            img{
                                                max-width: 42px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                &.account-option{
                    text-align: center;
                    .login-view{
                        position: relative;
                        cursor: pointer;
                        align-items: center;
                        transition: .35s;
                        padding: 4px 0;
                        &:hover{
                            .account-menu{
                                padding: 10px;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                        figure{
                            margin-bottom: 0px;
                            img{
                                max-width: 35px;
                                border-radius: 50%;
                            }
                        }
                        .pro-name{
                            margin-left: 10px;
                        }
                    }
                    i{
                        margin-right: 4px;
                        font-size: 14px;
                    }
                    span + span{
                        display: block;
                        line-height: .6;
                    }
                    .account-menu{
                        position: absolute;
                        padding: 0 10px;
                        top: 45px;
                        right: 0;
                        z-index: 2;
                        opacity: 0;
                        visibility: hidden;
                        min-width: 250px;
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09);
                        transition: .35s;
                        @extend .color-white-bg;
                        ul{
                            
                            li{
                                display: block;
                                text-align: left;
                                padding: 10px;
                                &:first-child{
                                    margin-bottom: 0px;
                                }
                                &:not(:last-child){
                                    
                                    margin-right: 0;
                                    border-bottom: 1px solid #e7e7e7;
                                }
                                a{
                                    padding: 0;
                                    i{
                                        font-size: 12px;
                                        margin-right: 8px;
                                    }
                                }
                            }
                        }
                    }
                }
                a{
                    font-size: 16px;
                    position: relative;
                    padding: 15px 20px;
                    font-weight: $semi-bold;
                    @extend .theme-black;
                    &:hover{
                        @extend .theme-default;
                        &.has-submenu{
                            &:after{
                                @extend .theme-default;
                            }
                        }
                    }
                    img{
                        max-width: 130px;
                    }
                    &.has-submenu{
                        &:after{
                            position: absolute;
                            right: 4px;
                            top:50%;
                            margin-top: -11px;
                            content: "\f107";
                            font-family: 'fontAwesome';
                            @extend .theme-black;
                        }
                    }
                    &.has-submenu-left{
                        &:after{
                            position: absolute;
                            right: 10px;
                            top:50%;
                            margin-top: -10px;
                            content: "\f105";
                            font-family: 'fontAwesome';
                            @extend .theme-heading;
                        }
                    }
                    &:hover{
                        opacity: .8;
                    }
                }
                &:hover{
                    >ul{
                        opacity: 1;
                        visibility: visible;
                        transform: perspective(600px) rotateX(0deg)
                    }
                }
                >ul{
                    min-width: 180px;
                    position: absolute;
                    padding: 20px 0;
                    top: 50px;
                    left: 0;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.09);
                    transform: perspective(600px) rotateX(-90deg);
                    transform-origin: 0 0;
                    transition: .4s;
                    opacity: 0;
                    visibility: hidden;
                    z-index: 2;
                    @extend .color-white-bg;
                    >li{
                        display: block;
                        &:not(:last-child){
                            margin-bottom: 15px;
                        }
                        >a{
                            font-size: 16px;
                            padding: 0 20px;
                            font-weight: $semi-bold;
                            display: inherit;
                            @extend .theme-heading;
                            &:hover{
                                @extend .theme-default;
                            }
                        }
                    }
                    ul{
                        left: 100%;
                        top:0px;
                    }
                }
                &.mega-item{
                    position: static;
                    &:hover{
                        .mega-menu-wrapper{
                            transform: perspective(600px) rotateX(0deg);
                            z-index: 99;
                        }
                    }
                }
            }
        }
    }
    .mobile-action-list{
        li{
            &:not(:last-child){
                margin-right: 20px;
            }
            a{
                padding: 0 !important;
            }
            &.account-option{
                .login-view{
                    .pro-name{
                        display: none;
                    }
                }
            }
        }
    }
}

.menu-trigger{
    display: block;
    cursor: pointer;
    order: 2;
    span{
        width: 25px;
		height: 2px;
		display: block;
		@extend .theme-secondary-bg;
		&:not(:last-child){
            margin-bottom: 6px;
        }
    }
    &:hover{
        span{
            &:nth-child(2){
                width: 25px;
            }
        }
    }
}


.offcanvas-menu{
    position: fixed;
	z-index: 999;
	background-color: #fff; 
	box-shadow: 0 21px 81px rgba(0, 0, 0, 0.1);
	z-index: -1;
	height: 100%;
	width: 320px;
	top: 0;
	left: -100%;
	opacity: 0;
	overflow: auto;
    transition: .7s;
    .offcanvas-cancel{
        position: absolute;
        right: 30px;
        top: 30px;
        cursor: pointer;
        z-index: 999;
        padding: 6px;
        &:hover{
            i{
                @extend .theme-default;
            }
        }
    }
}
			
				
.offcanvas-menu-inner{
    position: relative;
    .main-menu{
        padding-top: 80px;
        ul{
            flex-flow: column;
            justify-content: start !important;
            align-items: flex-start !important;
            li{
                display: block;
                margin-bottom: 0;
                padding: 0px;
                border-bottom: 1px solid #e7e7e7;
                position: relative;
                width: 100%;
                &.has-sub-menu{
                    .submenu-button{
                        position: absolute;
                        right: 0;
                        height: 25px;
                        width: 25px;
                        top: 13.5px;
                        cursor: pointer;
                        &:after{
                            position: absolute;
                            right: 30px;
                            top:0;
                            display: block;
                            font-family: "FontAwesome";
                            content: "\f107";
                        }
                        &.sub-menu-oppened{
                            &:after{
                                content: "\f106";
                            }
                        }
                    }
                }
                &:first-child{
                    border-top: 1px solid #e7e7e7
                }
                    
                &:last-child{
                    margin-bottom: 0
                }

                a{
                    display: inline-block;
                    font-size: 16px;
                    font-weight: $semi-bold;
                    padding: 15px;
                    width: 100%;
                    color: $theme-color--black;
                    img{
                        max-width: 100px
                    }
                    &:after{
                        display: none
                    }
                        
                    &:hover{
                        @extend .theme-default;
                    }
                }
                >ul{
                    display: none;
                    padding: 0;
                    position: static;
                    opacity: 1;
                    visibility: visible;
                    box-shadow: 0 0;
                    li{
                        a{
                            margin: 0;
                            padding: 10px 0;
                            &:after{
                                bottom: 20px;
                                width: 100%;
                            }
                        } 
                    }
                }
                ul{
                    padding-left: 20px;
                    width: 100%;
                    li{
                        &.has-sub-menu{
                            .submenu-button{
                                position: absolute;
                                right: 0;
                                height: 25px;
                                width: 25px;
                                top: 8.5px;
                                cursor: pointer;
                                &:after{
                                    position: absolute;
                                    right: 30px;
                                    top:0;
                                    display: block;
                                    font-family: "FontAwesome";
                                    content: "\f107";
                                }
                                &.sub-menu-oppened{
                                    &:after{
                                        content: "\f106";
                                    }
                                }
                            }
                        }
                    }
                    
                } 
            }
        }
    }
}
.offcanvas-menu{
    &.show{
        opacity: 1;
        width: 300px;
        height: 100%;
        z-index: 999;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}
	

.mobile-menu{
	.mean-bar{
		.mean-nav{
			background-color: #ffffff;
		    position: relative;
		    top: 15px;
		    z-index: 999999;
		    box-shadow:0 2px 7px #e6ebee;
		    >ul{
		    	margin-bottom: 30px;
			    border: 1px solid #eeeeee;
			    border-top: 0px solid transparent;
			    overflow-x: hidden;
			    li{
			    	position: relative;
				    display: block;
				    float: left;
				    width: 100%;
				    a{
				    	font-size: 13px;
					    display: block;
					    color: #444444;
					    font-weight: 600;
					    text-transform: uppercase;
					    line-height: 44px;
					    position: relative;
					    border-top: 1px solid #eeeeee;
					    padding: 0 40px 0 20px;
				    }
				    a.mean-expand{
				    	border: 1px solid #eeeeee;
					    position: absolute;
					    right: -1px;
					    top: -12px;
					    font-size: 20px !important;
					    color: #444444;
					    line-height: 44px;
					    height: 46px;
					    width: 40px;
					    text-align: center;
					    padding: 0;
				    }
			    }
			    li.row{
			    	display:flex;
			    	margin-left:0;
			    	.col-lg-4{
			    		padding-right:0;
			    		padding-left:0;
			    	}
			    }
		    }
		}
	}
}
			
	
		
			
                

/*=====  End of Header  ======*/