/*=============================================
=            Location            =
=============================================*/

#location-map{
    min-height: 400px;
    margin-right: 30px;
    margin-bottom: 30px;
    @include tab{
        margin: 0 auto;
    }
}

.location-tracker-inner{
    margin-bottom: 20px;
    @include tab{
        padding: 15px;
    }
    .single-sidebar{
        margin-left: 30px;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
        @include tab{
            margin-left: 0;
            margin-bottom: 15px;
        }
        select{
            width: 100%;
        }
    }
}