/*=============================================
=            Modal Css            =
=============================================*/


/*=====  Quickview  Modal ======*/
.quickview-container{
    .quickview-poductList{
        .owl-nav{
            button{
                i{
                    font-size: 20px;
                }
                &.owl-prev{
                    position: absolute;
                    right: 50px;
                    top: -45px;
                    margin-top: -8px;
                }
                &.owl-next{
                    position: absolute;
                    right: 100px;
                    top: -45px;
                    margin-top: -8px;
                }
            }
        }
    }
}

.product-large-image{
    border: 1px solid #e7e7e7;
}

.product-image-menu{
    padding: 15px;
    .owl-stage-outer{
        margin-left: -2px;
        margin-right: -10px;
    }
    .owl-nav{
        button{
            i{
                font-size: 20px;
            }
            &.owl-prev{
                position: absolute;
                right: 0px !important;
                top: 50% !important;
                margin-top: -8px;
            }
            &.owl-next{
                position: absolute;
                left: 0px !important;
                top: 50% !important;
                margin-top: -8px;
            }
        }
    }
    .single-image-menu{
        border: 1px solid #e7e7e7;
        cursor: pointer; 
    }
}

/*=====  Shipping View Modal  ======*/

.shipping-details{
    .form-element{
        margin-bottom: 20px;
        label{
            font-weight: $bold;
        }
        p{
            i{
                margin-right: 4px;
            }
        }
    }
}