/*=============================================
=            Order            =
=============================================*/

/*=====  Order Table  ======*/
.order-table{
    &.account-item-container{
        padding: 0px;
    }
    .table{
        margin-bottom: 0px;
        border: 1px solid #e7e7e7;
        td{
            vertical-align: middle;
        }
        thead{
            tr{
                th{
                    border-bottom: 0px;
                    &.o-no{
                        min-width: 70px;
                    }
                    &.o-date{
                        min-width: 130px;
                    }
                    &.o-del-date{
                        min-width: 140px;
                    }
                    &.o-bill{
                        min-width: 70px;
                    }
                    &.o-due{
                        min-width: 65px;
                    }
                    &.o-action{
                        min-width: 130px;
                    }
                }
            }   
        }
        tbody{
            tr{
                &:not(:last-child){
                    border-bottom: 1px solid #e7e7e7;
                }
                td{
                    &:last-child{
                        padding-bottom: 14px;
                    }
                    .table-action-btn{
                        a{
                            margin-bottom: 8px;
                        }
                    }
                }
            }
        }
    }
}

/*=====  Order Info  ======*/

.order-info-inner{
    padding: 30px;
    margin-bottom: 20px;
    @extend .color-white-bg;
}

.order-info{
    .form-element{
        margin-bottom: 20px;
        label{
            font-weight: $bold;
        }
    }
}

.order-info-table{
    .table{
        border: 1px solid #e7e7e7;
        td{
            vertical-align: middle !important;
            .cross-btn{
                text-align: center;
                padding: 10px;
                cursor: pointer;
            }
            i{
                margin-right: 6px;
            }
        }
        td, th{
            padding: 10px 18px;
        }
        thead{
            tr{
                th{
                    border-bottom: 0; 
                    &.p-image{
                        min-width: 116px;
                    }
                    &.p-title{
                        min-width: 220px;
                    }
                    &.p-price{
                        @include tab{
                            min-width: 180px;
                        }
                    }
                    &.t-price{
                        min-width: 140px;
                    }
                    &.p-Quanity{
                        width: 180px;
                    }
                    &.p-cancel{
                        width: 66px;
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    
                    &.p-image{
                        img{
                            max-width: 80px;
                        }
                    }
                    &.cross-btn{
                        text-align: center;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}