/*=============================================
=            Product            =
=============================================*/
.related-product-area{
    margin-bottom: 20px;
}

.sold-product-area{
    margin-bottom: 20px;
}
.product-list{
    padding: 0 20px;
    @include mobileXs{
        padding: 0 15px
    }
    .owl-stage-outer{
        margin-left: -15px;
        margin-right: -15px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: -15px;
        padding-top: 15px;
    }
    .owl-item{
        &.active{
            &.lastActiveItem{
                .single-product{
                    &:hover{
                        .product-hover-menu{
                            right: auto;
                            left: -40px; 
                        } 
                        .product-detail{
                            .product-badge{
                                right: 15px;
                            }
                            .wish-btn{
                                left: 25px;
                            }
                        }
                        
                    }
                    .product-hover-menu{
                        border-right: 1px solid #e7e7e7;
                        border-left: 0; 
                        right: auto;
                        left: -20px;
                    }
                    .product-detail{
                        .wish-btn{
                            transition: .3s;
                        }
                    }
                    .product-action{
                        right: 0px;
                        left: auto;
                        ul{
                            li{
                                a{
                                    padding: 5px 12px;
                                }
                            }
                        }
                    }
                } 
            }
        }
    }

    .owl-nav{
        button{
            background-color: #dee2e6 !important;
            &:hover{
                background-color: $theme-color--secondary !important;
                @extend .color-white;
            }
            i{
                font-size: 18px;
                padding-top: 2px;
            }
            &.owl-prev{
                position: absolute;
                right: 20px !important;
                top: -50px !important;
                padding: 2px 8px !important;
                margin-top: -8px;
                @include tab{
                    top: -40px !important;
                }
                @include mobileXs{
                    right: 10px !important;
                    padding: 0px 4px !important;
                    top: -36px !important;
                }
            }
            &.owl-next{
                position: absolute;
                right: 50px !important;
                top: -50px !important;
                padding: 2px 8px !important;
                margin-top: -8px;
                @include tab{
                    top: -40px !important;
                }
                @include mobileXs{
                    padding: 0px 4px !important;
                    right: 30px !important;
                    top: -36px !important;
                }
            }
        }
    }
}

/*=====  Single product  ======*/
.single-product{
    position: relative;
    margin-bottom: 20px;
    padding-top: 10px;
    &:hover{
        box-shadow: 0 5px 8px 4px rgba(0, 0, 0, 0.1);
        .product-hover-menu{
            opacity: 1;
            visibility: visible;
            right: -10px;
            @include mobileMd{
                right: 0px
            }
        }
        .product-detail{
            .product-badge{
                right: 55px;
                @include mobileMd{
                    right: 15px
                }
            }
            .product-action{
                opacity: 1;
                visibility: visible;
                bottom: 38%;
            }
            .product-bottom{
                transition: .4s;
            }
            
        }
        
    }
    .product-detail{
        position: relative;
        .wish-btn{
            position: absolute;
            left: 15px;
            top: 10px;
            
        }
        .product-badge{
            background-color: $success;
            position: absolute;
            right: 15px;
            top: 10px;
            width: auto;
            padding: 0px 8px;
            padding-bottom: 1px;
            transition: .3s;
            .badge-text{
                font-size: 14px;
                @extend .color-white;
            }
        }
        .product-title{
            font-size: 16px;
            font-weight: $bold;
            margin-top: 15px;
            margin-bottom: 10px; 
        }
        
        .product-rating{
            margin-top: 4px;
            ul{
                li{
                    display: inline-block;
                    &:not(:last-child){
                        margin-right: 4px;
                    }
                    i{
                        font-size: 13px;
                        @extend .theme-secondary;
                    }
                }
            }
        }
        
        .product-img{
            text-align: center;
            img{
                max-width: 180px;
            }
        }
        .product-bottom{
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 20px;
            margin-right: 45px;
        }
    }
    .product-hover-menu{
        box-shadow: 0 2px 8px 0px rgba(0, 0, 0, 0.1);
        position: absolute;
        height: 100%;
        border-left: 1px solid #e7e7e7;
        right: -20px;
        top: 0px;
        opacity: 0;
        visibility: hidden;
        transition: .4s;
        min-height: 258px;
        z-index: 222;
        @extend .color-white-bg;
        @include mobileMd{
            display: none; 
        }
        li{
            display: block;
            &:not(:last-child){
                margin-bottom: 10px;
            }
            cursor: pointer;
            img{
                max-width: 50px;
                @include tab{
                    max-width: 60px;
                }
            }
        }
    }
}

.product-badge{
    background-color: $success;
    position: absolute;
    right: 15px;
    top: 10px;
    width: auto;
    padding: 0px 8px;
    padding-bottom: 1px;
    transition: .3s;
    .badge-text{
        font-size: 14px;
        @extend .color-white;
    }
}
.product-price{
    span{
        font-size: 14px;
        font-weight: $semi-bold;
        &.old-price{
            margin-right: 8px;
            opacity: .6;
            text-decoration: line-through;
        }
    }
}
.product-action{
    position: absolute;
    left: 0;
    margin: 0 auto;
    bottom: 25%;
    opacity: 0;
    visibility: hidden;
    transition: .35s;
    @include mobileSm{
        left: 5%;
    }
    ul{
        border-top: 1px solid #e7e7e7;
        border-bottom: 1px solid #e7e7e7;
        @include mobileSm{
            border-right: 1px solid #e7e7e7;
            border-left: 1px solid #e7e7e7;
        }
        li{
            
            cursor: pointer;
            transition: .2s;
            text-align: center;
            @extend .color-white-bg;
            &:not(:last-child){
                border-right: 1px solid #e7e7e7;
            }
            &:last-child{
                border-right: 0px;
            }
            &:first-child{
                border-left: 0px;
            }
            &:hover{
                @extend .color-white;
                @extend .theme-default-bg;
            }
            a{
                padding: 5px 7px;
                font-size: 14px;
                @include medium{
                    padding: 5px 10px
                }
                @include tab{
                    padding: 5px 14px
                }
                @include mobileLg{
                    padding: 5px 40px
                }
                @include mobileMd{
                    padding: 5px 53px;
                }
                @include mobileSm{
                    padding: 5px 30px;
                }
                @include mobileXs{
                    padding: 5px 15px;
                }
                &:hover{
                    @extend .color-white; 
                }
                
            }
        }
    }
}

.poduct-list-box{
    @extend .color-white-bg;
    padding: 16px;
    .top-toolbar-wrap{
        .top-toolbar-action{
            .sort-product{
                flex-basis: 30%;
            }
        }
    }
}

.product-list-content{
    .product-box{
        &.column-self{
            [class*="col"], [class*="col-"]{
                flex: 0 0 33.33%;
                width: 33.33%;
                max-width: 33.33%;
                @include tab{
                    flex: 0 0 50%;
                    width: 50%;
                    max-width: 50%;
                }
                @include mobileLg{
                    flex: 0 0 100%;
                    width: 100%;
                    max-width: 100%;
                }
            }
            .single-list-product{
                display: none !important;
            }
            .single-product{
                display: block;
                .product-action{
                    ul{
                        li{
                            a{
                                padding: 5px 6px;
                                @include tab{
                                    padding: 5px 13px;
                                }
                                @include mobileLg{
                                    padding: 5px 40px;
                                }
                                @include mobileMd{
                                    padding: 5px 53px;
                                }
                                @include mobileSm{
                                    padding: 5px 30px;
                                }
                                @include mobileSm{
                                    padding: 5px 15px;
                                }
                            }
                        }
                    }
                }
            }

        }
        &.poduct-list{
            [class*="col"], [class*="col-"]{
                flex: 0 0 100%;
                max-width: 100%;
            }
            .single-list-product{
                display: block;
            }
            .single-product{
                display: none !important;
            }
        }
    }
}

.product-list-inner{
    margin: 20px 0;
}
/*=====  Single List Product  ======*/

.single-list-product{
    margin-bottom: 20px;
    .product-img{
        position: relative;
        border: 1px solid #dee2e6;
        .wish-btn{
            position: absolute;
            left: 15px;
            top: 15px;
        }
    }
    padding: 0;
    margin-left: 20px;
    margin-bottom: 0;
    .product-title{
        font-size: 16px;
        font-weight: $bold;
        margin-bottom: 10px;
    }
    .product-price{
        margin-bottom: 10px;
        padding-bottom: 16px;
    }
    .product-rating{
        margin-bottom: 12px;
        margin-top: 4px;
        .rating{
            margin-right: 6px;
        }
    }
    .desciption{
        padding-bottom: 15px;
        border-bottom: 1px solid #e7e7e7; 
    }
    .user-option{
        opacity: 1;
        visibility: visible;
        position: relative;
        bottom: auto;
        border: 0;
        li{
            display: inline-block;
            &:not(:last-child){
                margin-right: 8px;
                padding-right: 8px;
                border-right: 1px solid #e7e7e7;
            }
        }
    }
}


.bottom-pagination-wrap{
    &.text-right{
        @include tab{
            text-align: center !important;
        }
    }
    ul{
        li{
            display: inline-block;
            cursor: pointer;
            padding: 5px 10px;
            border: 1px solid #e7e7e7;
            @include mobileXs{
                padding: 5px 5px;
            }
            &:not(:last-child){
                margin-right: 8px;
                @include mobileXs{
                    margin-right: 2px;
                }
            }
            &.active{
                @extend .theme-default-bg;
                a{
                    @extend .color-white;
                } 
            }
            &:hover{
                @extend .theme-default-bg;
                a{
                    @extend .color-white;
                }
            }
            a{
                i{
                    &.fa-angle-left{
                        margin-right: 6px;
                    }
                    &.fa-angle-right{
                        margin-left: 6px;
                    }
                }
            }
        }
    }
}

.popular-product-list{
    .single-product{
        &:hover{
            .product-hover-menu{
                @include medium{
                   right: 0; 
                }
            }
        }
        .product-action{
            ul{
                li{
                    a{
                        padding: 5px 57px;
                        @include mobileSm{
                            padding: 5px 30px;
                        }
                        @include mobileXs{
                            padding: 5px 15px;
                        }
                    }
                }
            }
        }
    }
}

/*=====  Product  Details ======*/

.product-details{
    padding: 20px;
    margin: 20px 0;
    @extend .color-white-bg;
    .product-large-image{
        text-align: center;
        img{
            max-width: 330px;
            margin: 0 auto;
            @include mobileXs{
                max-width: 240px;
            }
        }
    }
    .product-image-menu{
        @include tab{
            margin-bottom: 10px;
        }
        .single-image-menu{
            padding-bottom: 5px;
        }
    }
    .product-info{
        .product-title{
            font-size: 16px;
            font-weight: $bold;
            margin-bottom: 15px;
        }
        .product-rating{
            margin-bottom: 16px;
            .rating{
                i{
                    &:not(:last-child){
                        margin-right: 4px;
                    }
                    @extend .theme-secondary;
                }
            }
            .review-count{
                a{
                    padding: 0 5px
                }
            }
        }
        
        .product-description{
            line-height: 1.75;
            margin-bottom: 22px;
        }
        .product-actions{
            .product-buttons{
                margin-top: 30px;
                li{
                    display: inline-block;
                    padding: 5px 8px;
                    border: 1px solid #dee2e6;
                    cursor: pointer;
                    @extend .color-white-bg; 
                    &:not(:last-child){
                        margin-right: 10px;
                    }
                    &:hover{
                        @extend .color-white;
                        @extend .theme-default-bg;
                    }
                    a{
                        &:hover{
                            i{
                                @extend .color-white;
                            }
                        }
                    }
                }
            }
            
        }
        .quantity-selection{
            margin-bottom: 20px;
        }
        .product-category{
            margin-top: 20px;
            margin-bottom: 20px;
            ul{
                li{
                    display: inline-block;
                    &:not(:last-child){
                        margin-right: 4px;
                    }
                    &:first-child{
                        font-weight: $bold;
                    }
                }
            }
        }
    }
    .brand-seller{
        margin-bottom: 16px;
        span{
            font-weight: $semi-bold;
            @include mobileXs{
                display: block;
            } 
            a{
                font-weight: $medium;
            }
        }
        span + span{
            margin-left: 10px;
            @include mobileXs{
                margin-left: 0px;
            } 
        }
    }
    .product-price{
        padding-bottom: 22px;
        margin-bottom: 22px;
        border-bottom: 1px solid #e7e7e7;
        
        p{
            display: inline-block;
            &.new-price{
                margin-right: 10px;
            }
        }
        .new-price{
            font-size: 20px;
            margin-bottom: 0;
            font-weight: $bold;
            color: $secondary;
        }
        .old-price{
            .old-price-value{
                text-decoration: line-through;
                opacity: .6;
                margin-right: 8px;
            }
        }
    }
    .sold{
        margin-bottom:20px;
        .sold-text{
            margin-left: 10px;
            padding: 4px 12px;
            @extend .color-white;
            @extend .theme-default-bg;
        }
    }
    .product-actions{
        .product-buttons{
            margin-top: 6px !important;
            margin-bottom: 20px;
            
        }
        .quantity-selection{
            label{
                padding-top: 2px;
                font-size: 14px;
                font-weight: $bold;
            }
        }
        .quantity-poduct-btns{
            @include mobileMd{
                flex-flow: column;
            }
            .product-buttons{
                margin-right: 45px;
            }
        }
        .color-size-selection{
            @include mobileMd{
                flex-flow: column;
            }
            .color-list{
                margin-right: 30px;
            }
        }
        .color-list{
            margin-bottom: 20px;
            li{
                margin-bottom: 0 !important;
                &:first-child{
                    font-weight: $bold;
                }
            }
            
        }
        .size-list {
            margin-bottom: 20px;
            li{
                margin-bottom: 0 !important;
                &:first-child{
                    font-weight: $bold;
                }
            }
        }  
    }
    .user-option{
        .buy-btn{
            margin-right: 12px;
        }
    }
}

.signle-quickView-product{
    .product-details{
        margin: 0px;
    }
}

.product-info-tab-container{
    padding: 30px;
    @extend .color-white-bg;
    .product-info-tab-menu{
        margin-bottom: 20px;
        @include mobileLg{
            margin-bottom: 0;
        }
        ul{
            &.nav-tabs{
                border-bottom: 0px; 
                @include mobileLg{
                    justify-content: center;
                }
            }
            li{
                @include mobileLg{
                    margin-bottom: 15px;
                }
                a{
                    padding: 10px 15px;
                    font-size: 16px;
                    font-weight: $bold;
                    border: 1px solid #e7e7e7;
                    transition: .35s;
                    &.active{
                        border-color: $theme-color--default;
                        @extend .theme-default-bg;
                        @extend .color-white;
                    }
                    &:hover{
                        border-color: $theme-color--default;
                        @extend .theme-default-bg;
                        @extend .color-white;
                    }
                }
            }
        }
    }
}

.product-details-tab-content{
    .product-text{
        h5{
            font-size: 16px;
            font-weight: $bold;
            margin-bottom: 10px;
        }
    }
}

/*=====  Product  Specification  ======*/
.product-specification{
    h4{
        font-size: 16px;
        font-weight: $bold;
        margin-bottom: 20px;
    }
    .specification-table{
        tr{
            border: 1px solid #e7e7e7;
            td{
                &:first-child{
                    background-color: #F5F5F5;
                }
            }
        }
        .sp-category{
            ul{
                li{
                    display: inline-block;
                }
                li + li{
                    &:before{
                        content: '\f105';
                        font-family: "FontAwesome";
                        padding: 0 8px;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}

/*=====  Product  Review  ======*/
.product-review-wrapper{
    .shop-single-product-review-list{
        li{
            margin-bottom: 20px;
        }
        .reviewer-img{
            max-width: 120px;
            margin-right: 15px
        }
        .review-detail{
            .given-rating{
                margin-bottom: 12px;
                i{
                    margin-right: 5px;
                    @extend .theme-secondary;
                }
            }
            .author-name{
                font-size: 16px;
                @include mobileSm{
                    font-size: 14px;
                }
                span{
                    &.date{
                        text-transform: uppercase;
                        display: block;
                        font-size: 14px;
                        margin-top: 10px;
                        color: #9a9a9a;
                    }
                }
            }
            .comment{
                margin-top: 6px;
            }
        }
    }
}

.review-form-container{
    h4{
        font-size: 16px;
        font-weight: $bold;
        margin-bottom: 10px;
    }
    .rating{
        margin-bottom: 10px;
        li{
            &:not(:last-child){
                margin-bottom: 6px;
            }
            i{
                margin-right: 6px;
                font-size: 13px;
                @extend .theme-secondary
            }
        }
    }
}

.review-form , .user-comment-form{
    h5{
        font-size: 16px;
        font-weight: $bold;
        margin-bottom: 18px;
    }
    input , textarea{
        width: 100%;
        border: 1px solid #e7e7e7;
        padding: 12px 20px;
        margin-bottom: 20px;
    }
    input[type=submit]{
        width: auto;
        margin-bottom: 0px;
        @extend .theme-default-bg;
        @extend .color-white;
        &:hover{
            @extend .color-white-bg;
            @extend .theme-default;
        }
    }
    textarea{
        min-height: 120px;
    }
}

.comment-list-wrap{
    margin-bottom: 30px;
}
.signle-product-comment-list{
    li{
        padding: 30px 0;
        &:not(:first-child){
            border-top: 1px solid #e7e7e7;
        }
        &:first-child{
            padding-top: 0;
        }
        &:last-child{
            padding-bottom: 0;
        }
        .signle-product-comment-list{
            padding-left: 60px;
            li{
                &:first-child{
                    border-top: 1px solid #e7e7e7;
                    margin-top: 30px;
                    padding-top: 30px;
                }
                &:last-child{
                    padding-bottom: 0;
                }
            }
        }
    }
}
/*=====  Single Comment  ======*/

.single-comment{
    img{
        margin-right: 16px;
    }
    .comment-details{
        .commentor-name{
            font-size: 15px;
            margin-bottom: 8px;
            span{
                &.comment-time{
                    font-size: 14px;
                    opacity: .6;
                    margin-left: 8px;
                }
            }
        }
        .comment-content{
            margin-bottom: 8px;
        }

    }
}