/*=============================================
=            Profile            =
=============================================*/
.profile-img{
    margin-bottom: 10px;
    img{
        width: 140px;
        height: 140px;
        border-radius: 50%;
    }
    .input-group{
        margin-top: 10px;
    }
    .full-name{
        font-size: 16px;
        margin-top: 10px;
    }
}
.profile-area{
    margin-bottom: 20px;
    .form-group{
        margin-bottom: 0px;
        @include tab{
            margin-bottom: 15px;
        }
    }
}
.mobile-no{
    display: inline-block;
	margin-bottom: 20px;
}
	

		


.profile-details{
    box-shadow: 0px 2px 10px 5px rgba(0,0,0,.12);
	border-radius: 12px;
    padding: 20px;
    position: relative;
    @extend .color-white-bg;
    .profile-inner {
        &.editMode{
            .form-row{
                .view-info{
                    display: none !important;
                }
                .input-group{
                    display: flex !important;
                }
            }
        }
        .pro-action-btns{
            .site-btn + .site-btn{
                margin-left: 20px;
                @include tab{
                    margin-top: 10px;
                }
                @include mobileLg{
                    margin-top: 0px;
                }
            }
        }
    }
    
    .up-image{
        position: absolute;
        right: 0;
        top: -145px;
        border: 2px solid $theme-color--default;
        padding: 4px 15px;
        cursor: pointer;
        @include medium{
            right: -25px;
        }
        @include tab{
            right: -50px;
        }
        @include mobileLg{
            right: 100px;
        }
        @include mobileMd{
            right: 40px;
        }
        @include mobileMd{
            right: 5px;
            padding: 4px 10px;
        }
    }
    .pro-upload{
        display: none;
    }
    .inner-title{
        font-size: 16px;
		font-weight: $bold;
		border-bottom: 1px solid #e7e7e7;
		padding-bottom: 14px;
    }
	.form-group{
        label{
            font-weight: $bold;
        }
		.view-info{
            i {
                margin-right: 4px;
            }
        }
    }
}
	
		
			
				
		
		
			