/*=============================================
=            Section Block           =
=============================================*/
.section-block{
    @extend .color-white-bg;
}

.section-block{
    .title{
        padding: 15px;
        padding-left: 30px;
        border-bottom: 1px solid #e7e7e7;
        margin-bottom: 30px;
        text-align: center;
        @include tab{
            margin-bottom: 20px
        }
        h4{
            font-size: 24px;
            font-weight: $bold;
            @include mobileLg{
                font-size: 22px;
            }
            @include mobileXs{
                font-size: 20px;
            }
        }
    }
    .view-more-btn{
        margin-bottom: 30px;
    }
}