/*=============================================
=            Shipping Css            =
=============================================*/

.checkout-wrapper{
    margin-bottom: 20px;
    .checkout-inner{
        padding: 30px;
        padding-bottom: 0px;
        @extend .color-white-bg;
    }
    .form-group{
        label{
            font-weight: $bold;
            i{
                margin-right: 6px;
            }
        }
        p{
            i{
                margin-right: 6px;
            }
        }
    }
}

.checkout-menu{
    margin-bottom: 16px;
    ul{
        &.nav-tabs{
            border-bottom: 0px; 
        }
        li{
            @include mobileSm{
                &:not(:last-child){
                    margin-bottom: 10px;
                }
            }
            a{
                background-color: #e7e7e7;
                padding: 10px 16px;
                font-size: 16px;
                @extend .theme-default;
                &.active{
                    @extend .theme-default-bg;
                    @extend .color-white;
                    .s-number{
                        @extend .color-white-bg;
                        @extend .theme-default;
                    }
                }
                .s-number{
                    margin-right: 6px;
                    display: inline-block;
                    padding: 3px 5px;
                    border-radius: 50%;
                    font-size: 12px;
                    @extend .color-white;
                    @extend .theme-default-bg;
                }
            }
        }
    }
}
/*=====  Shipping Form  ======*/

.shipping-form , .billing-form , .payment-method{
    padding: 30px;
    margin-bottom: 16px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    @extend .color-white-bg;
    h4{
        font-size: 16px;
        font-weight: $bold;
        margin-bottom: 15px;
    }
}

.shipping-feild , .billing-feild{
    &.form-active{
        .view-element{
            display: none;
        }
        .input-element{
            display: block;
        }
    }
    .view-element{
        display: block;
    }
    .input-element{
        display: none;
    }
}


/*=====  Billing Form  ======*/
.billing-form{
    h4{
        .custom-checkbox{
            margin-left: 15px;
            @include mobileXs{
                margin-left: 0;
                margin-top: 4px;
            }
            label{
                font-weight: $medium;
                font-size: 16px;
                @include mobileSm{
                    font-size: 14px;
                }
            }
        }
    }
}

.payment-method{
    ul{
        li{
            &:not(:last-child){
                margin-bottom: 15px;
            }
            &:last-child{
                border-top: 1px solid #e7e7e7;  
            }
            .checkout-btn{
                padding-top: 16px;
            }
        }
    }
}

/*=====  Shipping Table  ======*/

.shipping-table{
    .table{
        margin-top: 20px;
        thead{
            tr{
                th{
                    &.location-type{
                        min-width: 130px;
                    }
                    &.location{
                        min-width: 150px;
                    }
                    &.actions{
                        min-width: 180px;
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    &:last-child{
                        padding-bottom: 8px;
                    }
                }
            }
        }
    }
}

.bottom-pagination{
    margin-bottom: 30px;
    li{
        display: inline-block;
        &.next{
            float: right;
        }
        a{
            padding: 8px;
            background-color: #e7e7e7;
            border-radius: 10px;
            i{
                &.fa-angle-right{
                    margin-left: 6px; 
                }
                &.fa-angle-left{
                    margin-right: 6px; 
                }
            }  
        }
    }
}

/*=====  Shipping Modal Form  ======*/

.add-shipping-form{
    .form-element{
        margin-bottom: 14px;
        label{
            font-weight: $bold;
        }
    }
}