
/*=============================================
=            Sidebar            =
=============================================*/

/*=====  Single Sidebar  ======*/
.single-sidebar{
    padding: 16px;
    @extend .color-white-bg;
    select{
        width: 100%;
    }
    &:not(:last-child){
        margin-bottom: 20px;
    }
    &.colo-block , &.size-block{
        padding-bottom: 22px;
    }
    .sidebar-head{
        font-size: 16px;
        font-weight: $bold;
        border-bottom: 1px solid #e7e7e7;
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    .item-filter{
        li{
            &:not(:last-child){
                margin-bottom: 10px;
            }
        }
    }
    
}

.color-list{
    li{
        display: inline-block;
        margin-bottom: 8px;
        &:not(:last-child){
            margin-right: 15px;
        }
        &.active{
            a{
                position: relative;
                &:after{
                    position: absolute;
                    font-family: "fontAwesome";
                    content: "\f00c";
                    color: #fff;
                    left: 4px;
                    top: 2px;
                    font-size: 12px;
                }
            }
            
        }
        a{
            &.color-option{
                display: block;
                height: 20px;
                width: 20px;
                &.color-red{
                    background-color: #FE3234;
                }
                &.color-yellow{
                    background-color: #FFF000;
                }
                &.color-deep-yellow{
                    background-color: #FFC000;
                }
                &.color-orange{
                    background-color: #FF7353;
                }
                &.color-green{
                    background-color: #0DE545;
                }
                &.color-sky{
                    background-color: #00D2FF;
                }
                &.color-blue{
                    background-color: #0012FF;
                }
            }
        }
    }
}

.size-list{
    li{
        display: inline-block;
        margin-bottom: 8px;
        &:not(:last-child){
            margin-right: 15px;
            @include mobileXs{
                margin-right: 8px;
            } 
        }
        &.active{
            a{
                @extend .theme-default-bg;
                @extend .color-white;
            }
        }
        a{
            display: block;
            padding: 4px 8px;
            border: 1px solid #eaeaea;
            &:hover{
                @extend .color-white;
                @extend .theme-default-bg;
            }
        }
    }
}

/*=====  End of Sidebar  ======*/

