/*=============================================
=            Toast            =
=============================================*/
/*  6.1: Toast Styless */
.shop-toast{
    position: fixed;
    top: 50%;
    left: 0;
    transform: translateX(-100px);
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
    z-index: 999;
    &.show{
        opacity: 1;
        visibility: visible;
        transform: translateX(0px);
    }
    .toast-content{
        background-color: #72B03A;
        padding: 10px 20px;
        @extend .color-white;
    }
}