/*=============================================
=            Toolbar            =
=============================================*/

/*=====  Toolbar  ======*/
.top-toolbar-wrap{
    margin-bottom: 30px;
    .showing-product{
        h5{
            font-size: 16px;
            margin-bottom: 6px;
            font-weight: $bold;
        }
        p{
            font-weight: $semi-bold;
        }
    }
}

.top-toolbar-action{
    .sort-product{
        label{
            font-size: 16px;
            font-weight: $bold;
        }
        select{
            border: 1px solid #e7e7e7;
            padding: 6px 10px;
        }
    }
}

.product-view-mode{
    ul{
        li{
            &:not(:last-child){
                margin-right: 15px;
            }
        }
    }
}