.breadcrumb{
    margin-bottom: 0px;
    background-color: #f3f3f3;
}
/*=====  Breadcrumb Inner  ======*/
.breadcrumb-inner{
    padding: 15px;
    @extend .color-white-bg;
    ul{
        li{
            display: inline-block;
            &.active{
                a{
                    @extend .theme-default;
                }
                
            }
        }
        li + li{
            &:before{
                content: '\f105';
                font-family: "FontAwesome";
                padding: 0 8px;
                font-weight: 900;
            }
        }
    }
}