
/*=============================================
=            Button            =
=============================================*/

.site-btn{
    display: inline-block;
    border-radius: 4px;
    padding: 6px 14px;
    transition: 0.35s;
    border: 1px solid $theme-color--secondary;
    @extend .theme-secondary-bg;
    @extend .color-white;
    i{
        margin-right: 6px;
    }
    &:hover{
        @extend .color-white-bg;
        @extend .theme-secondary;
    }
    &:focus{
        @extend .color-white;
    }
    &.cancel-btn{
        background-color: #D2312D;
        border-color: #D2312D;
        &:hover{ 
            color: #D2312D;
            @extend .color-white-bg;
        }
    }
    &.return-btn{
        background-color: #ed9c28;
        border-color: #ed9c28;
        &:hover{ 
            color: #ed9c28;
            @extend .color-white-bg;
        }
    }
}
.reply-btn{
    font-weight: $semi-bold;
}
.view-more-btn{
    .site-btn{
        i{
            margin-left: 6px;
        }
    }
}

.save-btn{
    border-color: $theme-color--default;
    background-color: $theme-color--default !important;
    &:hover{
        background-color: $white !important;
        color: $theme-color--default !important;
    }
}

.wish-btn{
    &:hover{
        @extend .theme-secondary;
        .fa-heart-o{
            &:before{
                content: "\f004";
            }
        }
    }
}

.table-action-btn{
    a{
        margin-bottom: 10px;
    }
}


.backToTop{
    height: 40px;
	width: 40px;
	border-radius: 50%;
	position: fixed;
	bottom: 45px;
	right: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	z-index: 99;
	box-shadow: 0px 2px 6px 6px rgba(0,0,0,.06);
    @extend .theme-secondary-bg;
    @include tab{
        bottom: 45px;
    }
    @include mobileMd{
        bottom: 70px;
    }
    &.show {
        opacity: 1;
        visibility: visible;
    }
    a {
        i {
            font-size: 18px;
			@extend .color-white;
        }
        
    }
}

/*=====  End of Button  ======*/