/*=============================================
=            Cart Dropdown            =
=============================================*/

/*=====  Cart List  ======*/

.cart-list{
    
    li{
        display: block !important;
        &:not(:last-child){
            margin-bottom: 15px;
            padding-bottom: 15px;
            margin-right: 0 !important;
            border-bottom: 1px solid #e7e7e7;
        }
    }
    .single-cart{
        .product-img{
            border: 1px solid #e7e7e7;
            a{
                padding: 5px; 
            }
        }
        .product-info{
            margin: 0 10px;
            .p-name{
                
                a{
                    padding: 0px;
                    font-size: 14px;
                }
            }
            .price{
                font-weight: $semi-bold;
                @extend .theme-default;
            }
        }
        a{
            padding: 0;
            i{
                font-size: 14px;
            }
            &.delete-btn{
                padding: 0px;
                i{
                    font-size: 14px !important;
                }
            }
            &:hover{
                i{
                    color: $danger;
                }
            }
        }
    }
}

/*=====  End of Cart Dropdown  ======*/